# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Changes from Qualcomm Innovation Center are provided under the following license:
# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#### workaround for FOTA /usr/bin/recovery

userdebug_or_eng(`
    gen_require(`
        type qmmf_server_t;
    ')

    servicemanager_binder_call(unconfined_t, qmmf_server_t)

    gen_require(`
        type usb_dev_t;
        type auditd_etc_t;
        type data_t;
        type policy_config_t;
        type proc_kmsg_t;
        type rebootd_pipe_t;
        type webserver_t;
        type weston_runtime_t;
        type camera_data_t;
        type cpu_scaling_freq_t;
        type cpu_sysfs_t;
        type sysfs_panel0_backlight_bl_power_t;
        type sysfs_cpu_capacity;
        type sysfs_cpu_present;
        type binderfs_t;
        type qseecomd_exec_t;
        type pulseaudio_t;
        class service { status start stop };
        type fbe_secure_data_t;
        type hwfde_conf_file_t;
        type install_evict_t;
    ')

    mls_file_read_all_levels(unconfined_t)
    mls_file_write_all_levels(unconfined_t)
    storage_raw_read_fixed_disk(unconfined_t)
    storage_raw_write_fixed_disk(unconfined_t)
    dev_read_kmsg(unconfined_t)
    kernel_mounton_message_if(unconfined_t)
    allow unconfined_t self:binder { call transfer };
    allow unconfined_t self:lockdown integrity;
    allow unconfined_t auditd_etc_t:dir { getattr read search };
    allow unconfined_t auditd_etc_t:file getattr;
    allow unconfined_t data_t:chr_file getattr;
    allow unconfined_t cpu_sysfs_t:file rw_file_perms;
    allow unconfined_t cpu_sysfs_t:dir { open read search getattr };
    allow unconfined_t sysfs_panel0_backlight_bl_power_t:file getattr;
    # allow map the files in /data/misc/camera
    allow unconfined_t camera_data_t:file map;
    allow unconfined_t policy_config_t:dir { getattr read search };
    allow unconfined_t policy_config_t:file getattr;
    allow unconfined_t rebootd_pipe_t:fifo_file getattr;
    allow unconfined_t usb_dev_t:dir { getattr read search open };
    allow unconfined_t webserver_t:dir { read search open };
    allow unconfined_t webserver_t:file getattr;
    allow unconfined_t weston_runtime_t:sock_file { getattr setattr write };
    allow unconfined_t weston_runtime_t:file { getattr setattr };
    allow unconfined_t cpu_scaling_freq_t:file { getattr read open };
    allow unconfined_t self:lockdown confidentiality;
    allow unconfined_t binderfs_t:filesystem getattr;
    allow unconfined_t fbe_secure_data_t:dir search_dir_perms;
    allow unconfined_t fbe_secure_data_t:file read_file_perms;
    allow unconfined_t hwfde_conf_file_t:file read_file_perms;
    allow unconfined_t install_evict_t:file exec_file_perms;
    allow unconfined_t pulseaudio_t:binder { call transfer };

    gen_require(`
        type recovery_exec_t;
        type aud_dev_sysfs_t;
        type snd_card_state_t;
        type dev_dri_t;
        type perf_hal_socket_t;
        type touch_input_device_t;
        type tuicoreservice_dev_t;
        type zs_handle_sysfs_t;
        type zspage_sysfs_t;
        type rfsa_adsp_lib_t;
    ')
    allow unconfined_t recovery_exec_t:file exec_file_perms;
    #For catf, which is internal test tool for audio
    allow unconfined_t aud_dev_sysfs_t:file { write_file_perms };
    allow unconfined_t snd_card_state_t:file { rw_file_perms };
    allow unconfined_t cpu_scaling_freq_t:file write_file_perms;
    allow unconfined_t sysfs_cpu_capacity:file { read_file_perms };
    allow unconfined_t sysfs_cpu_present:file { read_file_perms };
    allow unconfined_t qseecomd_exec_t:service { status start stop };

    allow unconfined_t binderfs_t:file getattr;
    allow unconfined_t dev_dri_t:dir getattr;
    allow unconfined_t perf_hal_socket_t:sock_file getattr;
    allow unconfined_t touch_input_device_t:file getattr;
    allow unconfined_t tuicoreservice_dev_t:chr_file read_chr_file_perms;
    allow unconfined_t zs_handle_sysfs_t:dir getattr;
    allow unconfined_t zspage_sysfs_t:dir getattr;
    allow unconfined_t rfsa_adsp_lib_t:dir { watch list_dir_perms };
    allow unconfined_t rfsa_adsp_lib_t:file exec_file_perms;

')
