# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(netopeer2, 1.0)
type netopeer2_t;
type netopeer2_exec_t;

init_vendor_domain(netopeer2_t, netopeer2_exec_t)

gen_require(`
 type tmpfs_t;
 type sysctl_t;
 type proc_t;
 type etc_t;
 type tmp_t;
 type init_var_run_t;
 type syslogd_var_run_t;
 type devlog_t;
 type syslogd_t;
 type node_t;
 type unreserved_port_t;
 type random_device_t;
 type urandom_device_t;
 type home_root_t;
 type user_home_dir_t;
 type mplane_app_t;
 type socket_device_t;
 type user_home_t;
')

sr_data_access(netopeer2_t)

allow netopeer2_t sysctl_t:dir { search };
userdebug_or_eng(`
  allow netopeer2_t proc_t:file { read open getattr };
  ')


allow netopeer2_t tmp_t:dir { search write add_name remove_name };
allow netopeer2_t tmp_t:file { create read write open lock getattr unlink };
allow netopeer2_t init_var_run_t:dir { search };
allow netopeer2_t syslogd_var_run_t:dir { search };
allow netopeer2_t devlog_t:sock_file write;
allow netopeer2_t syslogd_t:unix_dgram_socket sendto;

# /dev/shm/ for sysrepo
allow netopeer2_t tmpfs_t:file { read write open getattr map create unlink };
allow netopeer2_t tmpfs_t:dir { search write add_name remove_name };

# For /etc/passwd and /etc/nsswitch.conf
files_read_etc_files(netopeer2_t)
allow netopeer2_t etc_t:file { map };

allow netopeer2_t self:tcp_socket { create bind connect getopt setopt read write };
allow netopeer2_t node_t:tcp_socket { node_bind };
allow netopeer2_t unreserved_port_t:tcp_socket { name_connect };
allow netopeer2_t random_device_t:chr_file { read };
allow netopeer2_t urandom_device_t:chr_file { read open };

allow netopeer2_t home_root_t:dir { search };
allow netopeer2_t user_home_dir_t:dir { search };
allow netopeer2_t user_home_t:dir { search };
allow netopeer2_t user_home_t:file { read open getattr };


allow netopeer2_t mplane_app_t:dir { add_name write getattr open read search};
allow netopeer2_t mplane_app_t:fifo_file { create open read write };
allow netopeer2_t mplane_app_t:file { create lock map open getattr read write };
allow netopeer2_t socket_device_t:dir search;
