# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(nsm, 1.0)

type nsm_t;
type nsm_exec_t;
type nsm_tmp_t;

# Define init domain
init_vendor_domain(nsm_t, nsm_exec_t)

gen_require(`
 type tmpfs_t;
 type unreserved_port_t;
 type sysctl_t;
 type mplane_app_t;
 type socket_device_t;
 type fs_t;
 type devlog_t;
 type node_t;
 type random_device_t;
 type urandom_device_t;
 type shell_exec_t;
 type syslogd_t;
 type initrc_tmp_t;
 type usr_t;
 type etc_t;
 type init_var_run_t;
 type sysdevice_sysfs_t;
')

# Allow read write access
allow nsm_t fs_t:filesystem associate;
allow nsm_t sysctl_t:dir { search };

allow nsm_t self:tcp_socket { getattr create setopt connect name_connect write read shutdown bind getopt};
allow nsm_t unreserved_port_t:tcp_socket name_connect;
allow nsm_t self:process { signal };
allow nsm_t self:fifo_file { write read };


files_read_etc_files(nsm_t)         # For /etc/passwd and /etc/nsswitch.conf and /etc/mplane/ru/genkey.xml
allow nsm_t etc_t:file map;         # for openssl API usage

allow nsm_t mplane_app_t:dir { add_name getattr open read search write remove_name };
allow nsm_t mplane_app_t:fifo_file { create open read write };
allow nsm_t mplane_app_t:file { create getattr lock map append open read write rename unlink};
allow nsm_t socket_device_t:dir { search };

# Needed to launch netopeer2
allow nsm_t devlog_t:sock_file write;                           # /run/systemd/journal/dev-log
allow nsm_t node_t:tcp_socket node_bind;                        # Needed for eventloop socket
allow nsm_t shell_exec_t:file { execute map open read };        # Needed for launch diag_mdlog
allow nsm_t syslogd_t:unix_dgram_socket sendto;                 # write to syslog

allow nsm_t random_device_t:chr_file read;                      # Needed for netopeer connection
allow nsm_t urandom_device_t:chr_file { open read };            # Needed for netopeer connection

#============= nsm_t ==============
allow nsm_t self:qipcrtr_socket { create getattr read write};
allow nsm_t usr_t:dir { search getattr open read };
allow nsm_t usr_t:file { getattr map unlink read open };

dev_read_sysfs(nsm_t)               # read-only sys filesystem
kernel_read_system_state(nsm_t)     # to read, open proc
files_tmp_file(nsm_tmp_t)
files_tmp_filetrans(nsm_t, nsm_tmp_t, { file dir })
allow nsm_t initrc_tmp_t:dir search;
allow nsm_t initrc_tmp_t:file { open read };
allow nsm_t nsm_tmp_t:file { append create getattr open read unlink };
allow nsm_t init_var_run_t:dir search; #for systemd watchdog API
allow nsm_t sysdevice_sysfs_t:file { getattr open read }; #for /sys/devices/soc0/machine
