#Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#SPDX-License-Identifier: BSD-3-Clause-Clear

type pwrmgr_conf_t;

gen_require(`
    type pwrmgr_data_t;
    type default_t;
    type socket_device_t;
    type thermal-engine_t;
    type thermal_sock_t;
    type initrc_t;
    type alogd_t;
    type pmsg0_t;
    type proc_t;
    type sysfs_t;
    type etc_t;
    type var_log_t;
    type init_var_run_t;
    type system_dbusd_var_run_t;
    type unconfined_t;
    type faultmgr_t;
    type qfhlog_data_t;
    type sysctl_t;
    type power_unit_t;
    type sysctl_kernel_t;
    type removable_device_t;
    type pwrmgr_t;
    type pwrmgr_exec_t;
    type rfs_persist_t;
    type mpss_persist_t;
    class dbus send_msg;
    class service { start status stop reload };
')

userdebug_or_eng(`
     allow unconfined_t pwrmgr_exec_t:service { start stop status };
     allow initrc_t unconfined_t:dbus send_msg;
     allow unconfined_t mpss_persist_t:file rw_inherited_file_perms;
')

allow pwrmgr_t pwrmgr_t:fifo_file { read open write };
allow pwrmgr_t sysfs_t:file { read open write getattr };       #/sys/devices/soc0/soc_id
allow pwrmgr_t var_log_t:file { read write open getattr setattr create rename unlink };
allow pwrmgr_t var_log_t:dir {search read write add_name remove_name};
allow pwrmgr_t pmsg0_t:chr_file { write open};
allow pwrmgr_t var_log_t:lnk_file read;
allow pwrmgr_t self:process signal;

allow pwrmgr_t etc_t:file { read open };
allow pwrmgr_t pwrmgr_conf_t:file {read write open getattr};          #/etc/power_manager/public/
allow pwrmgr_t self:netlink_kobject_uevent_socket {create bind setopt read};
allow pwrmgr_t self:capability net_admin;
allow pwrmgr_t init_t:dir search;
allow pwrmgr_t init_t:file read;
allow pwrmgr_t init_t:lnk_file read;
allow pwrmgr_t init_t:unix_stream_socket connectto;
allow pwrmgr_t init_var_run_t:dir { getattr search};
allow pwrmgr_t proc_t:file { read open getattr };              #/proc/filesystem
allow pwrmgr_t system_dbusd_var_run_t:dir search;
allow pwrmgr_t self:socket create_socket_perms;
allow pwrmgr_t self:qipcrtr_socket create_socket_perms;
allow pwrmgr_t socket_device_t:dir search_dir_perms;
allow pwrmgr_t thermal-engine_t:unix_stream_socket connectto;
allow pwrmgr_t thermal_sock_t:sock_file write;
allow pwrmgr_t faultmgr_t:dbus send_msg;
allow pwrmgr_t sysctl_t:dir search;
allow pwrmgr_t power_unit_t:service start;
allow pwrmgr_t sysctl_kernel_t:dir search;
allow pwrmgr_t pwrmgr_data_t:dir manage_dir_perms;
allow pwrmgr_t pwrmgr_data_t:file manage_file_perms;
allow pwrmgr_t qfhlog_data_t:dir manage_dir_perms;
allow pwrmgr_t qfhlog_data_t:file manage_file_perms;
allow pwrmgr_t removable_device_t:blk_file { read write open getattr append};
allow pwrmgr_t rfs_persist_t:dir search;
allow pwrmgr_t mpss_persist_t:dir rw_dir_perms;
allow pwrmgr_t mpss_persist_t:file manage_file_perms;
dontaudit pwrmgr_t default_t:dir search;

#Manage Dbus sockets
ifdef(`init_systemd',`
    init_dbus_chat(pwrmgr_t)
    dbus_system_domain(pwrmgr_t, pwrmgr_exec_t)
    unconfined_dbus_chat(pwrmgr_t)
    allow pwrmgr_t initrc_t:dbus send_msg;
    dbus_system_bus_client(pwrmgr_t)
    allow pwrmgr_t self:dbus send_msg;
')
