# Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


#seems nbd driver need to do
#need to invistagate check
gen_require(`
    type mount_t;
    type  kernel_t;
    type post_boot_script_t;
    type initrc_t;
    type unconfined_t;
    class dbus send_msg;
    type leprop_system_data_t;

')
#set scheduling parameters for a kernel domain task.
#allow mount_t  kernel_t:process {setsched } ;
dontaudit mount_t  kernel_t:process {setsched};

# set access to mhi pipes in post-boot-script
allow post_boot_script_t mhi_pipe_device_t:chr_file { getattr open read write };

### MHI PIPE TYPE ###
type mhi_pipe_device_t;
dev_node(mhi_pipe_device_t);

allow initrc_t unconfined_t:dbus send_msg;
dontaudit initrc_t leprop_system_data_t:file getattr;
