# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

userdebug_or_eng(`
    gen_require(`
        type rfsa_adsp_lib_t;
        type adbd_t;
    ')

    allow adbd_t rfsa_adsp_lib_t:dir { add_name getattr remove_name search write };
    allow adbd_t rfsa_adsp_lib_t:file { create getattr open setattr unlink write };
')

