# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type adsprpcd_t;
    type event_device_t;
    type rfsa_adsp_lib_t;
')

allow adsprpcd_t event_device_t:chr_file getattr;
allow adsprpcd_t rfsa_adsp_lib_t:file { getattr open read };
