# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(splitxr_viewer, 1.0)
type splitxr_viewer_t;
type splitxr_viewer_exec_t;
init_vendor_domain(splitxr_viewer_t, splitxr_viewer_exec_t)

userdebug_or_eng(`
   gen_require(`
      type debugfs_t;
   ')

   allow splitxr_viewer_t debugfs_t:dir search_dir_perms;
')

gen_require(`
   type afs_fs_port_t;
   type afs_pt_port_t;
   type data_t;
   type default_t;
   type etc_t;
   type gpumodel_t;
   type leprop_t;
   type pulseaudio_t;
   type pulseaudio_var_run_t;
   type qvr_config_t;
   type qvrd_t;
   type splitxr_service_t;
   type sysctl_t;
   type sysctl_vm_t;
   type tmp_t;
   type tmpfs_t;
   type trace_marker_t;
   type tracefs_t;
   type urandom_device_t;
   type ion_device_t;
   type node_t;
   type sysctl_vm_overcommit_t;
   type system_dir_t;
   type unreserved_port_t;
   type user_runtime_root_t;
   type qvrd_socket_t;
   type leprop_sock_t;
   type socket_device_t;
   type sxr_data_t;
   type dri_device_t;
   type event_device_t;
   type gpu_device_t;
   type weston_t;
   type initrc_t;
   type sysfs_panel0_backlight_bl_power_t;
   type sysfs_cpu_present;
   type sysfs_cpu_capacity;
   type sysfs_t;
   type firmware_t;
   type qseecom_device_t;
')

rw_chr_files_pattern(splitxr_viewer_t, device_t, qseecom_device_t);

allow splitxr_viewer_t qvr_config_t:dir search_dir_perms;
allow splitxr_viewer_t afs_fs_port_t:udp_socket name_bind;
allow splitxr_viewer_t afs_pt_port_t:udp_socket name_bind;
allow splitxr_viewer_t default_t:dir search_dir_perms;
allow splitxr_viewer_t etc_t:file read_file_perms;
allow splitxr_viewer_t gpumodel_t:file read_file_perms;
allow splitxr_viewer_t leprop_t:unix_stream_socket connectto;
allow splitxr_viewer_t pulseaudio_t:unix_stream_socket connectto;
allow splitxr_viewer_t pulseaudio_var_run_t:dir search_dir_perms;
allow splitxr_viewer_t pulseaudio_var_run_t:sock_file write;
allow splitxr_viewer_t qvr_config_t:file read_file_perms;
allow splitxr_viewer_t qvrd_t:fd use;
allow splitxr_viewer_t self:fifo_file rw_fifo_file_perms;
allow splitxr_viewer_t splitxr_service_t:fd use;
allow splitxr_viewer_t sysctl_t:dir search_dir_perms;
allow splitxr_viewer_t sysctl_vm_t:dir search_dir_perms;
allow splitxr_viewer_t tmp_t:dir search_dir_perms;
allow splitxr_viewer_t tmpfs_t:dir list_dir_perms;
allow splitxr_viewer_t trace_marker_t:file { open write };
allow splitxr_viewer_t tracefs_t:dir search_dir_perms;
allow splitxr_viewer_t urandom_device_t:chr_file read_chr_file_perms;
allow splitxr_viewer_t ion_device_t:chr_file read_chr_file_perms;
allow splitxr_viewer_t node_t:udp_socket node_bind;
allow splitxr_viewer_t sysctl_vm_overcommit_t:file read_file_perms;
allow splitxr_viewer_t system_dir_t:dir search_dir_perms;
allow splitxr_viewer_t unreserved_port_t:udp_socket name_bind;
allow splitxr_viewer_t user_runtime_root_t:dir search_dir_perms;
allow splitxr_viewer_t qvrd_socket_t:sock_file write;
allow splitxr_viewer_t self:udp_socket { bind connect create getopt read setopt write };
allow splitxr_viewer_t leprop_sock_t:sock_file write;
allow splitxr_viewer_t socket_device_t:dir search_dir_perms;
allow splitxr_viewer_t dri_device_t:chr_file rw_chr_file_perms;
allow splitxr_viewer_t event_device_t:chr_file rw_chr_file_perms;
allow splitxr_viewer_t gpu_device_t:chr_file { rw_chr_file_perms map };
allow splitxr_viewer_t qvrd_t:unix_stream_socket connectto;
allow splitxr_viewer_t splitxr_service_t:unix_stream_socket connectto;
allow splitxr_viewer_t user_runtime_root_t:sock_file write;
allow splitxr_viewer_t weston_t:unix_stream_socket connectto;
allow splitxr_viewer_t sysfs_t:lnk_file read;
allow splitxr_viewer_t sysfs_panel0_backlight_bl_power_t:file read_file_perms;
allow splitxr_viewer_t sysfs_cpu_present:file read_file_perms;
allow splitxr_viewer_t sysfs_cpu_capacity:file read_file_perms;
allow splitxr_viewer_t self:process signal;
allow splitxr_viewer_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow splitxr_viewer_t sxr_data_t:dir rw_dir_perms;
allow splitxr_viewer_t sxr_data_t:file { create rw_file_perms };
allow splitxr_viewer_t system_dir_t:file read_file_perms;
allow splitxr_viewer_t firmware_t:dir search_dir_perms;
allow splitxr_viewer_t firmware_t:file read_file_perms;
allow splitxr_viewer_t node_t:tcp_socket node_bind;
allow splitxr_viewer_t self:tcp_socket { create rw_stream_socket_perms };
allow splitxr_viewer_t unreserved_port_t:tcp_socket name_bind;

allow initrc_t qvrd_socket_t:sock_file write;
allow weston_t splitxr_viewer_t:fd use;
allow qvrd_t splitxr_viewer_t:process setsched;