# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type overlay_t;
')

allow dataqti_ppp_t overlay_t:dir search_dir_perms;
