# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
dontaudit systemd_update_done_t self:capability sys_admin;
dontaudit systemd_modules_load_t self:capability sys_admin;
dontaudit systemd_modules_load_t self:key write;

allow systemd_update_done_t overlay_t:dir rw_dir_perms;
gen_require(`
    type proc_psi_t;
    type kernel_t;
')

allow systemd_logind_t proc_psi_t:file write_file_perms;

# Suppress AVC denial to avoid userspace udev altering kernel thread scheduling
dontaudit udev_t kernel_t:process setsched;

# Allow udev to access sdcard mount point for automount script
gen_require(`
    type sdcard_t;
    type udev_t;
')
allow udev_t sdcard_t:dir list_dir_perms;
