# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

userdebug_or_eng(`
    gen_require(`
        type binderfs_t;
        type perf_hal_socket_t;
        type power_sysfs_t;
        type sysfs_devcoredump_t;
    ')
    allow unconfined_t binderfs_t:file getattr;
    allow unconfined_t perf_hal_socket_t:sock_file getattr;
    allow unconfined_t power_sysfs_t:file getattr;
    allow unconfined_t sysfs_devcoredump_t:dir search;
    allow unconfined_t sysfs_devcoredump_t:file open;
')
