# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

userdebug_or_eng(`
    gen_require(`
        type binderfs_t;
    ')
    allow unconfined_t binderfs_t:file getattr;
')
