# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
  type mnt_t;
  type socket_device_t;
')

dontaudit demuratnservice_t mnt_t:dir search;
allow demuratnservice_t socket_device_t:dir getattr;
# /tmp/minijail.dev.xxx/membuf
type demuratnservice_tmpfs_t;
files_tmpfs_file(demuratnservice_tmpfs_t)
fs_tmpfs_filetrans(demuratnservice_t, demuratnservice_tmpfs_t, file)
allow demuratnservice_t demuratnservice_tmpfs_t:file { manage_file_perms mounton };

platform_container_domain_type(demuratnservice_t, demuratnservice_exec_t);
