# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
  type socket_device_t;
  type tvmroot_t;
  type tvmmink_sock_t;
')

allow vmfilexferservice_t tvmmink_sock_t:sock_file getattr;
allow vmfilexferservice_t socket_device_t:dir { search getattr };
allow vmfilexferservice_t self:process { setsched signal };
# /tmp/minijail.dev.xxx/membuf
type vmfilexferservice_tmpfs_t;
files_tmpfs_file(vmfilexferservice_tmpfs_t)
fs_tmpfs_filetrans(vmfilexferservice_t, vmfilexferservice_tmpfs_t, file)
allow vmfilexferservice_t vmfilexferservice_tmpfs_t:file { manage_file_perms mounton };

logging_send_syslog_msg(vmfilexferservice_t)
platform_container_domain_type(vmfilexferservice_t, vmfilexferservice_exec_t);
dontaudit vmfilexferservice_t tvmroot_t:unix_stream_socket { read write };
