# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Changes from Qualcomm Innovation Center are provided under the following license:
# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    attribute file_type;
    attribute user_data;
    attribute system_data;
    type mount_copybind_t;
    type unconfined_mount_t;
    type mount_t;
    type hwfde_conf_file_t;
    type alsa_etc_t;
    type data_t;
    type system_dbusd_var_lib_t;
    type net_conf_t;
    type overlay_t;
    type binderfs_t;
    type wifi_data_t;
    type systemd_unit_t;
    type weston_runtime_t;
    type storage_disk_device_t;
    type udev_rules_t;
    type fixed_disk_device_t;
')

#for overlayfs
permissive mount_t;
permissive mount_copybind_t;
permissive unconfined_mount_t;
allow mount_t hwfde_conf_file_t:file read_file_perms;
dontaudit { mount_t mount_copybind_t unconfined_mount_t } file_type:{ file dir } *;
dontaudit { mount_t mount_copybind_t unconfined_mount_t } user_data:{ file dir } *;
dontaudit { mount_t mount_copybind_t unconfined_mount_t } system_data:{ file dir } *;

allow mount_t alsa_etc_t:lnk_file { getattr read };
allow mount_t self:capability { fsetid dac_read_search fowner };
allow mount_t data_t:fifo_file { create_fifo_file_perms read setattr };
allow mount_t data_t:sock_file { create_sock_file_perms unlink };
allow mount_t net_conf_t:lnk_file read_lnk_file_perms;
allow mount_t overlay_t:chr_file { create link rename unlink };
allow mount_t system_dbusd_var_lib_t:lnk_file { create_lnk_file_perms read relabelfrom relabelto };
allow mount_t binderfs_t:filesystem { mount };
allow mount_t var_t:chr_file { unlink };
allow mount_t wifi_data_t:sock_file manage_sock_file_perms;
allow mount_t systemd_unit_t:lnk_file getattr;
allow mount_t weston_runtime_t:dir { manage_dir_perms reparent relabelfrom relabelto };
allow mount_t weston_runtime_t:file { rw_file_perms create };
allow mount_t storage_disk_device_t:blk_file rw_blk_file_perms;
allow mount_t udev_rules_t:lnk_file read_lnk_file_perms;
allow unconfined_mount_t fixed_disk_device_t:blk_file getattr;
