# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(psi_daemon, 1.0)

gen_require(`
    type proc_t;
    type sysfs_t;
    type vendor_virtio_mem_device_t;
')

type psi_daemon_t;
type psi_daemon_exec_t;

init_vendor_domain(psi_daemon_t, psi_daemon_exec_t)

# allow read/write for kernel procfs files
allow psi_daemon_t proc_t:file { read write open };

# allow read/write for kernel sysfs files
allow psi_daemon_t sysfs_t:file { read write open };

allow psi_daemon_t vendor_virtio_mem_device_t:chr_file rw_file_perms;

allow psi_daemon_t self:capability sys_resource;

allow psi_daemon_t self:capability2 block_suspend;
