# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary>fbe-service daemon</summary>

#######################################
## <summary>
##       fbe-service interface
## </summary>
#

