# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type vendor_sysfs_coresight_etr_t;
genfscon sysfs /bus/coresight/devices/tmc_etr0/enable_sink gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/tmc_etr0/out_mode gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/tmc_etr0/buffer_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/tmc_etf0/block_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/stm0/enable_source gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/modem_etm0/enable_source gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/lpass_stm/enable_source gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /bus/coresight/devices/eud/enable_sink gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/10048000.tmc/tmc_etr0/block_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/10048000.tmc/tmc_etr0/buffer_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/10048000.tmc/tmc_etr0/out_mode gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/1004f000.tmc/tmc_etr1/block_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/1004f000.tmc/tmc_etr1/buffer_size gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
genfscon sysfs /devices/platform/soc/1004f000.tmc/tmc_etr1/out_mode gen_context(system_u:object_r:vendor_sysfs_coresight_etr_t,s0)
dev_associate_sysfs(vendor_sysfs_coresight_etr_t);

type vendor_sysfs_dcc_t;
genfscon sysfs /bus/platform/devices/100ff000.dcc gen_context(system_u:object_r:vendor_sysfs_dcc_t,s0)
dev_associate_sysfs(vendor_sysfs_dcc_t);
