# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


########################################
#
# Declarations
#


gen_require(`
    type proc_sched_t;
    type cpu_sysfs_t;
    type sysfs_cpu_capacity;
    type image_variant_sysfs_t;
    type soc0_gpu_sysfs_t;
')

allow perf_hal_t cpu_sysfs_t:file rw_file_perms;
allow perf_hal_t cpu_sysfs_t:dir list_dir_perms;
allow perf_hal_t proc_sched_t:dir search_dir_perms;
allow perf_hal_t proc_sched_t:file rw_file_perms;
allow perf_hal_t sysfs_cpu_capacity:file read_file_perms;
allow perf_hal_t image_variant_sysfs_t:dir search_dir_perms;
allow perf_hal_t image_variant_sysfs_t:file read_file_perms;
allow perf_hal_t soc0_gpu_sysfs_t:file read_file_perms;
