# Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(platform_launcher, 1.0)

attribute platform_launcher_domain;

gen_require(`
    attribute platform_container_domain;
')
allow platform_container_domain platform_launcher_domain:fd use;
allow platform_launcher_domain platform_container_domain:process2 { nnp_transition nosuid_transition };


allow platform_launcher_domain self:capability sys_admin;
allow platform_launcher_domain self:fifo_file write;
allow platform_launcher_domain self:process signal;

# /etc/selinux/config TODO: Where is libselinux connection?
seutil_read_config(platform_launcher_domain)

# profile .yaml files TODO: label these
gen_require(`
        type etc_t;
')
allow platform_launcher_domain etc_t:file { read map getattr open };

# PID namespacing
kernel_mounton_proc_dirs(platform_launcher_domain)
kernel_mount_proc(platform_launcher_domain)
kernel_unmount_proc(platform_launcher_domain)
kernel_read_system_state(platform_launcher_domain)

files_mounton_root(platform_launcher_domain)
# TODO: allow ftok for now, this should be removed from the library
gen_require(`
    attribute file_type;
')
allow platform_launcher_domain file_type:file getattr;
# log to shell
getty_use_fds(platform_launcher_domain)
term_use_unallocated_ttys(platform_launcher_domain)

# setexecfilecon and getexeccon permissions
selinux_compute_create_context(platform_launcher_domain)
selinux_getattr_fs(platform_launcher_domain)
allow platform_launcher_domain self:process setexec;
allow platform_launcher_domain self:fifo_file read;

userdebug_or_eng(`
    dev_write_kmsg(platform_launcher_domain)
')

