# Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary> libcontainer interface </summary>

########################################
## <summary>
##      Create a new platform container domain.
## </summary>
## <param name="domain">
##      <summary>
##      Type to be used as a platform container domain.
##      </summary>
## </param>
## <param name="entry_point">
##      <summary>
##      Type of the program to be used as an entry point to this domain.
##      </summary>
## </param>
#
interface(`platform_container_domain_type',`
    gen_require(`
        attribute platform_container_domain;
        attribute platform_hub_domain;
        attribute platform_launcher_domain;
    ')

    typeattribute $1 platform_container_domain;
    domain_type($1)

    can_exec($1, $2)

    # TODO: Any way to fine-tune this?
    mls_file_read_all_levels($1)
    mls_file_write_all_levels($1)
    # for bind-mounting when using the libminijail default option
    vendor_device_rw_exempt($1)

    allow platform_hub_domain $2:file { read open getattr };
    allow platform_launcher_domain $1:process2 nosuid_transition;
    domtrans_pattern(platform_launcher_domain, $2, $1)
')

########################################
## <summary>
##      Allow bind mounting of a node
## </summary>
## <param name="domain">
##      <summary>
##      Domain type to allow
##      </summary>
## </param>
## <param name="target">
##      <summary>
##      File type to allow
##      </summary>
## </param>
## <param name="class">
##      <summary>
##      File class to allow
##      </summary>
## </param>
#
interface(`platform_container_bind_mount',`
    allow $1 $2:$3 { getattr relabelto };
')
