# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(supervisor, 1.0)

type supervisor_t;
type supervisor_exec_t;

init_daemon_domain(supervisor_t, supervisor_exec_t)

type supervisor_sock_t;
dev_node(supervisor_sock_t)
device_manage_socket_file(supervisor_t, supervisor_sock_t, "libcontainer.sock")

logging_send_syslog_msg(supervisor_t)

# Passing seccomp user notification FD and arguments
gen_require(`
    attribute platform_launcher_domain;
')
allow supervisor_t platform_launcher_domain:fd use;
allow supervisor_t platform_launcher_domain:unix_stream_socket { read write };
kernel_read_system_state(supervisor_t)
allow supervisor_t platform_launcher_domain:file read;

# /tmp/dev-######
gen_require(`
    type tmp_t;
    type tmpfs_t;
')
# creation of the mount target
type supervisor_tmp_t;
files_type(supervisor_tmp_t)
files_tmp_filetrans(supervisor_t, supervisor_tmp_t, dir)
manage_dirs_pattern(supervisor_t, tmp_t, supervisor_tmp_t)
allow supervisor_t tmpfs_t:filesystem { mount unmount };
allow supervisor_t supervisor_tmp_t:dir { mounton relabelfrom };
fs_tmpfs_filetrans(supervisor_t, supervisor_tmp_t, dir)
manage_chr_files_pattern(supervisor_t, supervisor_tmp_t, supervisor_tmp_t)
allow supervisor_t supervisor_tmp_t:chr_file relabelfrom;

corecmd_exec_shell(supervisor_t)
# Supervisor doesn't care about the shell environment
gen_require(`
    type home_root_t;
')
dontaudit supervisor_t home_root_t:dir { search getattr };

# dac_override is required because the supervisor needs to fix dac permissions
#  whether root is allowed to access the file or not.
allow supervisor_t self:capability { sys_admin sys_ptrace sys_chroot chown mknod fowner dac_override };
allow supervisor_t self:cap_userns { sys_admin sys_ptrace };
# covered by dac_override
dontaudit supervisor_t self:capability dac_read_search;

gen_require(`
    type device_t;
')
allow supervisor_t device_t:dir { mounton getattr relabelto rmdir write add_name relabelfrom create setattr };
allow supervisor_t device_t:chr_file { create relabelfrom setattr };

# for /dev/kmsg
mls_file_read_all_levels(supervisor_t)
mls_file_upgrade(supervisor_t)
mls_file_downgrade(supervisor_t)
