# Copyright (c) 2019,2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Innovation Center are provided under the following license:
#
# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type dnsmasq_tmp_t;
files_tmp_file(dnsmasq_tmp_t)

gen_require(`
  type systemd_resolved_var_run_t;
  type device_t;
  type user_tty_device_t;
  type unconfined_t;
  class service {start stop status};
')

userdebug_or_eng(`
  rw_diag_dev(dnsmasq_t)
  allow unconfined_t dnsmasq_exec_t:service { start stop status };
  dev_write_kmsg(dnsmasq_t)
')

manage_files_pattern(dnsmasq_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t);
allow dnsmasq_t dnsmasq_tmp_t:file manage_file_perms;
allow dnsmasq_t dnsmasq_tmp_t:lnk_file manage_lnk_file_perms;
allow dnsmasq_t self:{ netlink_route_socket netlink_generic_socket netlink_socket netlink_netfilter_socket} create_socket_perms;
allow dnsmasq_t self:netlink_route_socket { nlmsg_write };
allow dnsmasq_t self:netlink_route_socket nlmsg_write;
files_tmp_filetrans(dnsmasq_t, dnsmasq_tmp_t, { lnk_file file })
read_write_qcmap_cm_socket_files(dnsmasq_t)
qcmap_manage_tmp_data_files(dnsmasq_t)
qcmap_manage_var_run_data_files(dnsmasq_t)
qcmap_manage_user_data_files(dnsmasq_t)
manage_chr_files_pattern(dnsmasq_t, device_t, user_tty_device_t)
list_dirs_pattern(dnsmasq_t, init_var_run_t, init_var_run_t)

# Following rule suppresses an avc denial that shows up on the first boot:
dontaudit dnsmasq_t init_var_run_t:file { getattr };
