# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type glinkpkt_q6_audio_ctrl_t;
    type sysfs_t;
    type socket_device_t;
    type perf_hal_socket_t;
    type perf_hal_t;
    type csr_bt_t;
    type bt_ipc_sock_t;
 ')

allow pulseaudio_t glinkpkt_q6_audio_ctrl_t:chr_file rw_chr_file_perms;
rw_chr_files_pattern(pulseaudio_t, device_t, glinkpkt_q6_audio_ctrl_t);
allow glinkpkt_q6_audio_ctrl_t device_t:filesystem associate;
dontaudit pulseaudio_t sysfs_t:file append;
files_search_mnt(pulseaudio_t)

allow pulseaudio_t socket_device_t:sock_file write;
allow pulseaudio_t perf_hal_t:unix_stream_socket connectto;
allow pulseaudio_t perf_hal_socket_t:sock_file write;

userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
    ')
    allow pulseaudio_t unconfined_t:unix_stream_socket connectto;
')

allow pulseaudio_t csr_bt_t:unix_stream_socket connectto;
allow pulseaudio_t bt_ipc_sock_t:sock_file write;
