# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type overlay_t;
    type fbe_secure_data_t;
    type wlan_hsp_sysfs_t;
')

allow initrc_t overlay_t:dir manage_dir_perms;
allow init_t overlay_t:dir manage_dir_perms;
allow initrc_t fbe_secure_data_t:dir create_dir_perms;
allow init_t wlan_hsp_sysfs_t:dir getattr;
