# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

permissive mount_t;

gen_require(`
    type default_context_t;
    type file_context_t;
    type overlay_t;
    type var_spool_t;
    type var_t;
    type wlan_initrc_exec_t;
    type wifi_data_t;
')

allow mount_copybind_t default_context_t:dir search;
allow mount_copybind_t file_context_t:dir search;
allow mount_copybind_t file_context_t:file mmap_read_file_perms;
allow mount_copybind_t var_spool_t:dir getattr;

allow mount_t overlay_t:chr_file unlink;
allow mount_t var_t:chr_file unlink;
allow mount_t var_spool_t:dir mounton;

#TODO: Restrict to required minimum permissions rather than manage_dir_perms/manage_file_perms.
allow mount_t var_t:dir manage_dir_perms;
allow mount_t var_t:file manage_file_perms;

#TODO: Restrict to required minimum permissions rather than manage_dir_perms/manage_file_perms.
allow mount_t overlay_t:dir manage_dir_perms;
allow mount_t overlay_t:file manage_file_perms;

allow mount_t wifi_data_t:dir search;

allow mount_t {
    wifi_data_t
}:file read_file_perms;

allow mount_t {
    wlan_initrc_exec_t
}:file { read_file_perms execute };
