# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
  type wifi_system_data_t;
  type hostapd_t;
  type wifi_data_t;
')

read_system_data_files(hostapd_t, wifi_system_data_t);
read_user_data_files(hostapd_t, wifi_data_t);
