# Changes from Qualcomm Innovation Center are provided under the following license:
# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
## <summary>DSP HAL SERVICE</summary>
########################################
## <summary>
##      dsp hal process to have fastrpc device nodes access
## </summary>
