# Copyright (c) 2018-2019 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Innovation Center, Inc. are provided under the following license:
# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#policy_module(pulseaudio, 1.0)

########################################
#
# Declarations
#

files_mountpoint(pulseaudio_var_lib_t)

files_type(pulseaudio_tmp_t);

init_daemon_domain(pulseaudio_t, pulseaudio_exec_t);

gen_require(`
        type debugfs_t;
        type systemd_logind_var_run_t;
        type audio_device_t;
        type snd_card_state_t;
        type audio_data_file_t;
        type init_var_run_t;
')

allow pulseaudio_t self:capability { chown fowner fsetid setgid setuid sys_nice sys_resource sys_tty_config };
allow pulseaudio_t self:process { getcap getsched setcap setrlimit setsched signal signull };

allow pulseaudio_t self:fifo_file rw_fifo_file_perms;
allow pulseaudio_t self:unix_stream_socket { accept connectto listen };
allow pulseaudio_t self:unix_dgram_socket sendto;
allow pulseaudio_t self:tcp_socket { accept listen };
allow pulseaudio_t self:netlink_kobject_uevent_socket create_socket_perms;
allow pulseaudio_t self:qipcrtr_socket create_socket_perms;
audio_hal_access(pulseaudio_t)

non_audio_hal_access(pulseaudio_t)

allow pulseaudio_t systemd_logind_var_run_t:sock_file write; # /run/dbus/system_bus_socket

# For almservice
alm_write_sock_file(pulseaudio_t)

###########################
# Files / Dirs

files_type(pulseaudio_var_lib_t)
files_manage_etc_dirs(pulseaudio_t);
files_manage_urandom_seed(pulseaudio_t);
files_read_var_lib_symlinks(pulseaudio_t);
files_search_var_lib(pulseaudio_t);
files_getattr_var_lib_dirs(pulseaudio_t);

allow pulseaudio_t debugfs_t:dir search;
allow pulseaudio_t init_var_run_t:file { read open write getattr};
allow pulseaudio_t init_var_run_t:sock_file { open read write getattr };

device_search_sockets(pulseaudio_t);
leprop_rw_props(pulseaudio_t);

corecmd_exec_shell(pulseaudio_t)

allow pulseaudio_t self:process { signal getsched };

## for DBus
ifdef(`init_systemd', `
    init_dbus_chat(pulseaudio_t)
')

allow pulseaudio_t audio_device_t:chr_file rw_chr_file_perms;
allow pulseaudio_t snd_card_state_t:file rw_file_perms;
allow pulseaudio_t etc_t:file map;
dontaudit pulseaudio_t audio_data_file_t:dir search;

gen_require(`
 type audio_data_file_t;
 type etc_t;
 type system_dbusd_var_lib_t;
 type default_t;
 type system_dmabuf_device_t;
')
allow pulseaudio_t audio_data_file_t:dir search;
audio_data_files_access(pulseaudio_t)
allow pulseaudio_t etc_t:file map;
allow pulseaudio_t system_dbusd_var_lib_t:lnk_file read;
allow pulseaudio_t default_t:dir search;
allow pulseaudio_t kernel_t:unix_dgram_socket sendto;
allow pulseaudio_t self:qipcrtr_socket { connected_socket_perms };
allow pulseaudio_t system_dmabuf_device_t:chr_file { read_chr_file_perms };

mls_socket_write_all_levels(pulseaudio_t)
mls_socket_read_all_levels(pulseaudio_t)
