#Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

mls_file_read_all_levels(adbd_t)
mls_file_write_all_levels(adbd_t)
dev_write_kmsg(adbd_initrc_t)

gen_require(`
    type boot_kpi_values_t;
')

allow adbd_t boot_kpi_values_t:file { getattr open read };

