# Copyright (c) 2021-2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(ipq_wlan, 1.0)

########################################
#
# Declarations
#

gen_require(`
  type domain;
  type kmod_t;
  type wlan_initrc_t;
  type wifi_system_data_t;
  type wifi_data_t;
  type wlan_service_exec_t;
  type wlan_service_tmp_t;
  type NetworkManager_var_run_t;
  type hostapd_exec_t;
  type unreserved_port_t;
  type node_t;
  type kernel_t;
  type brctl_exec_t;
  type hostapd_cli_exec_t;
  type wpa_cli_exec_t;
  type console_device_t;
  type kmsg_device_t;
  type modules_object_t;
  type sysctl_dev_t;
  type wlan_initrc_exec_t;
  type cslistener_port_t;
  type ifconfig_t;
  type user_home_dir_t;
  type cert_t;
  type usr_t;
  type etc_t;
  type net_conf_t;
  type http_port_t;
  type init_t;
  type wlan_ezmesh_initrc_t;
  type wlan_ezmesh_initrc_exec_t;
  type var_run_t;
  type var_spool_t;
  type hostapd_var_run_t;
  type hostapd_t;
  type qcmap_cm_t;
  type qcmap_etc_data_t;
  type var_t;
  type proc_net_t;
  type proc_t;
  type wlan_service_t;
')

type wifi_usr_t;
files_type(wifi_usr_t);

manage_system_data_files(wlan_initrc_t, wifi_system_data_t);
manage_system_data_files(kmod_t, wifi_system_data_t);
userdom_manage_user_tmp_files(wlan_initrc_t)

manage_files_pattern(wlan_initrc_t, wlan_service_tmp_t, wlan_service_tmp_t)
files_tmp_filetrans(wlan_initrc_t, wlan_service_tmp_t, { file lnk_file dir sock_file })

dontaudit wlan_initrc_t domain:dir search_dir_perms;
dontaudit wlan_initrc_t self:capability sys_module;

allow wlan_initrc_t wifi_system_data_t:dir { write add_name remove_name };
allow wlan_initrc_t wifi_system_data_t:lnk_file { create unlink };
allow wlan_initrc_t system_data_t:dir { write add_name remove_name };
allow wlan_initrc_t system_data_t:lnk_file { create unlink read getattr };

# Don't audit console/kmsg logs
dontaudit wlan_initrc_t console_device_t:chr_file write_file_perms;
dontaudit wlan_initrc_t kmsg_device_t:chr_file write_file_perms;
dontaudit wlan_initrc_t self:capability { dac_read_search dac_override };

# General permissions
allow wlan_initrc_t self:process signal_perms;
allow wlan_initrc_t self:capability kill;
allow wlan_initrc_t self:tcp_socket { create_socket_perms connected_stream_socket_perms };
allow wlan_initrc_t wlan_service_exec_t:file { execute read_file_perms execute_no_trans map };
allow wlan_initrc_t wlan_service_tmp_t:dir manage_dir_perms;
allow wlan_initrc_t wlan_service_tmp_t:file manage_file_perms;
allow wlan_initrc_t wlan_service_tmp_t:sock_file { create write unlink };
allow wlan_initrc_t wifi_usr_t:file read_file_perms;
allow wlan_initrc_t NetworkManager_var_run_t:file { read_file_perms append write rename setattr };
allow wlan_initrc_t NetworkManager_var_run_t:dir rmdir;
allow kmod_t wlan_service_tmp_t:file { write };
allow init_t wifi_system_data_t:dir { search_dir_perms };

allow wlan_initrc_t self:{socket qipcrtr_socket netlink_socket} create_socket_perms;

# WiFi permissions
allow wlan_initrc_t var_run_t:file read_file_perms;
allow wlan_initrc_t modules_object_t:lnk_file read;
allow wlan_initrc_t modules_object_t:dir search;
allow wlan_initrc_t sysctl_dev_t:dir search;
allow wlan_initrc_t brctl_exec_t:file { read open execute execute_no_trans getattr };
userdebug_or_eng(`
    gen_require(`
	type debugfs_t;
    ')

    allow wlan_initrc_t debugfs_t:dir read;
')

# Hostapd/wpa_supplicant permissions (wifi command)
allow wlan_initrc_t hostapd_exec_t:file { execute read_file_perms execute_no_trans map };
allow wlan_initrc_t self:udp_socket { create_socket_perms connected_stream_socket_perms };
allow wlan_initrc_t unreserved_port_t:udp_socket name_bind;
allow wlan_initrc_t node_t:udp_socket node_bind;
allow wlan_initrc_t kernel_t:system module_request;
allow wlan_initrc_t hostapd_cli_exec_t:file { read getattr open execute execute_no_trans map };
allow wlan_initrc_t wpa_cli_exec_t:file { read getattr open execute execute_no_trans map };
logging_send_syslog_msg(wlan_initrc_t);

# SigmaDut
type wlan_initrc_var_log_t;
logging_log_file(wlan_initrc_var_log_t)
logging_log_filetrans(wlan_initrc_t, wlan_initrc_var_log_t, { file lnk_file dir } );
manage_dirs_pattern(wlan_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)
manage_files_pattern(wlan_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)
manage_lnk_files_pattern(wlan_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)

allow wlan_initrc_t wlan_initrc_exec_t:file execute_no_trans;
allow wlan_initrc_t cslistener_port_t:tcp_socket { name_connect name_bind };
allow wlan_initrc_t node_t:tcp_socket node_bind;
allow kmod_t wlan_initrc_var_log_t:file { read append };
allow kmod_t wlan_initrc_t:tcp_socket { read write };
allow ifconfig_t wlan_initrc_var_log_t:file { read append };
allow ifconfig_t wlan_initrc_t:tcp_socket { read write };

gen_require(`
    type mount_t;
')
allow mount_t wifi_data_t:sock_file { create_sock_file_perms unlink };

# AFC application
filetrans_pattern(wlan_initrc_t, wifi_system_data_t, wifi_system_data_t, file);

allow wlan_initrc_t user_home_dir_t:dir { getattr search };
allow wlan_initrc_t self:process getsched;
allow wlan_initrc_t cert_t:dir { read open };
allow wlan_initrc_t cert_t:lnk_file { read_file_perms };
allow wlan_initrc_t usr_t:file { read_file_perms };
allow wlan_initrc_t etc_t:file { read open };
allow wlan_initrc_t etc_t:lnk_file { read open };
allow wlan_initrc_t net_conf_t:file { read_file_perms };
allow wlan_initrc_t http_port_t:tcp_socket name_connect;

### EasyConnect permissions
allow wlan_service_t wifi_usr_t:file read_file_perms;
allow wlan_service_t wlan_service_exec_t:file execute_no_trans;

### EasyConnect - hostapd and hostapd_cli permissions
gen_require(`
  type hostapd_cli_qcmap_t;
  type hostapd_tmp_t;
')
files_tmp_filetrans(hostapd_t, hostapd_tmp_t, sock_file)
rw_sock_files_pattern(hostapd_t, hostapd_tmp_t, hostapd_tmp_t)
filetrans_pattern(hostapd_cli_qcmap_t, var_run_t, hostapd_var_run_t, file)
manage_files_pattern(hostapd_cli_qcmap_t, hostapd_var_run_t, hostapd_var_run_t)
manage_system_data_files(hostapd_cli_qcmap_t, wifi_system_data_t)
files_tmp_filetrans(hostapd_cli_qcmap_t, hostapd_tmp_t, { file sock_file dir })
manage_files_pattern(hostapd_cli_qcmap_t, hostapd_tmp_t, hostapd_tmp_t)
manage_sock_files_pattern(hostapd_cli_qcmap_t, hostapd_tmp_t, hostapd_tmp_t)
rw_dirs_pattern(hostapd_cli_qcmap_t, hostapd_tmp_t, hostapd_tmp_t)
create_dirs_pattern(hostapd_cli_qcmap_t, hostapd_tmp_t, hostapd_tmp_t)

# Include /bin/sh in shell scripts
corecmd_exec_shell(hostapd_cli_qcmap_t)

# WLAN device entries in /sys/class/net
dev_rw_sysfs(hostapd_cli_qcmap_t)

# hostapd_cli action scripts in /lib/wifi
libs_exec_lib_files(hostapd_cli_qcmap_t)

# /proc/filesystems
kernel_dontaudit_read_system_state(hostapd_cli_qcmap_t)

allow hostapd_cli_qcmap_t self:fifo_file rw_fifo_file_perms;
allow hostapd_cli_qcmap_t wlan_service_exec_t:file exec_file_perms;
allow hostapd_cli_qcmap_t wlan_service_tmp_t:dir search_dir_perms;
allow hostapd_cli_qcmap_t wlan_service_tmp_t:file rw_file_perms;
allow hostapd_cli_qcmap_t wifi_usr_t:file read_file_perms;

# Config files in /systemrw
allow hostapd_cli_qcmap_t system_data_t:dir search_dir_perms;
allow hostapd_cli_qcmap_t system_data_t:lnk_file read;

allow hostapd_cli_qcmap_t hostapd_cli_exec_t:file execute_no_trans;
allow hostapd_cli_qcmap_t self:process signal;

### EasyConnect - wpa_cli and NetworkManager permissions
gen_require(`
  type wpa_cli_t;
  type NetworkManager_tmp_t;
')
filetrans_pattern(wpa_cli_t, tmp_t, NetworkManager_tmp_t, { file dir })
manage_files_pattern(wpa_cli_t, NetworkManager_tmp_t, NetworkManager_tmp_t)
manage_dirs_pattern(wpa_cli_t, NetworkManager_tmp_t, NetworkManager_tmp_t)
manage_files_pattern(wpa_cli_t, NetworkManager_var_run_t, NetworkManager_var_run_t)
manage_system_data_files(wpa_cli_t, wifi_system_data_t)

# WLAN device entries in /sys/class/net
dev_rw_sysfs(wpa_cli_t)

# wpa_cli action scripts in /lib/wifi
libs_exec_lib_files(wpa_cli_t)

# /proc/filesystems
kernel_dontaudit_read_system_state(wpa_cli_t)

allow wpa_cli_t NetworkManager_var_run_t:file create_file_perms;
allow wpa_cli_t self:fifo_file rw_fifo_file_perms;
allow wpa_cli_t wlan_service_exec_t:file exec_file_perms;

# Config files in /systemrw
allow wpa_cli_t system_data_t:dir search_dir_perms;
allow wpa_cli_t system_data_t:lnk_file read;

allow wpa_cli_t wpa_cli_exec_t:file execute_no_trans;
allow wpa_cli_t wifi_usr_t:file read_file_perms;
allow wpa_cli_t wlan_service_tmp_t:dir search_dir_perms;
allow wpa_cli_t wlan_service_tmp_t:file rw_file_perms;
allow wpa_cli_t self:process signal;

#Ezmesh Application related permissions
manage_system_data_files(wlan_ezmesh_initrc_t, wifi_system_data_t);
userdom_manage_user_tmp_files(wlan_ezmesh_initrc_t)

manage_files_pattern(wlan_ezmesh_initrc_t, wlan_service_tmp_t, wlan_service_tmp_t)
files_tmp_filetrans(wlan_ezmesh_initrc_t, wlan_service_tmp_t, { file lnk_file dir sock_file })

dontaudit wlan_ezmesh_initrc_t domain:dir search_dir_perms;
dontaudit wlan_ezmesh_initrc_t self:capability sys_module;

allow wlan_ezmesh_initrc_t wifi_system_data_t:dir rw_dir_perms;
allow wlan_ezmesh_initrc_t wifi_system_data_t:lnk_file { create unlink };
allow wlan_ezmesh_initrc_t system_data_t:dir rw_dir_perms;
allow wlan_ezmesh_initrc_t system_data_t:lnk_file { create unlink read_lnk_file_perms };

# Don't audit console/kmsg logs needed for Ezmesh
dontaudit wlan_ezmesh_initrc_t console_device_t:chr_file write_file_perms;
dontaudit wlan_ezmesh_initrc_t kmsg_device_t:chr_file write_file_perms;
dontaudit wlan_ezmesh_initrc_t self:capability { dac_read_search dac_override };

# General permissions needed for Ezmesh
allow wlan_ezmesh_initrc_t self:process signal_perms;
allow wlan_ezmesh_initrc_t self:capability kill;
allow wlan_ezmesh_initrc_t self:tcp_socket connected_stream_socket_perms;
allow wlan_ezmesh_initrc_t wlan_service_exec_t:file { execute read_file_perms execute_no_trans map };
allow wlan_ezmesh_initrc_t wlan_service_tmp_t:dir manage_dir_perms;
allow wlan_ezmesh_initrc_t wlan_service_tmp_t:file manage_file_perms;
allow wlan_ezmesh_initrc_t wlan_service_tmp_t:sock_file { create write unlink };
allow wlan_ezmesh_initrc_t wifi_usr_t:file read_file_perms;
allow wlan_ezmesh_initrc_t NetworkManager_var_run_t:file { read_file_perms append write rename setattr };
allow wlan_ezmesh_initrc_t NetworkManager_var_run_t:dir rmdir;

allow wlan_ezmesh_initrc_t self:{socket qipcrtr_socket netlink_socket} create_socket_perms;

# WiFi permissions needed by Ezmesh
allow wlan_ezmesh_initrc_t var_run_t:file read_file_perms;
allow wlan_ezmesh_initrc_t modules_object_t:lnk_file read;
allow wlan_ezmesh_initrc_t modules_object_t:dir search_dir_perms;
allow wlan_ezmesh_initrc_t sysctl_dev_t:dir search_dir_perms;
allow wlan_ezmesh_initrc_t brctl_exec_t:file { read open execute execute_no_trans getattr };
userdebug_or_eng(`
    gen_require(`
        type debugfs_t;
    ')

    allow wlan_ezmesh_initrc_t debugfs_t:dir read;
')

# Hostapd/wpa_supplicant permissions (wifi command) needed by Ezmesh
allow wlan_ezmesh_initrc_t hostapd_exec_t:file { execute read_file_perms execute_no_trans map };
allow wlan_ezmesh_initrc_t self:udp_socket create_socket_perms;
allow wlan_ezmesh_initrc_t unreserved_port_t:udp_socket name_bind;
allow wlan_ezmesh_initrc_t node_t:udp_socket node_bind;
allow wlan_ezmesh_initrc_t kernel_t:system module_request;
allow wlan_ezmesh_initrc_t hostapd_cli_exec_t:file { read getattr open execute execute_no_trans map };
allow wlan_ezmesh_initrc_t wpa_cli_exec_t:file { read getattr open execute execute_no_trans map };
logging_send_syslog_msg(wlan_ezmesh_initrc_t);

logging_log_filetrans(wlan_ezmesh_initrc_t, wlan_initrc_var_log_t, { file lnk_file dir } );
manage_dirs_pattern(wlan_ezmesh_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)
manage_files_pattern(wlan_ezmesh_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)
manage_lnk_files_pattern(wlan_ezmesh_initrc_t, wlan_initrc_var_log_t, wlan_initrc_var_log_t)

allow wlan_ezmesh_initrc_t wlan_ezmesh_initrc_exec_t:file execute_no_trans;
allow wlan_ezmesh_initrc_t cslistener_port_t:tcp_socket { name_connect name_bind };
allow wlan_ezmesh_initrc_t node_t:tcp_socket node_bind;
allow kmod_t wlan_ezmesh_initrc_t:tcp_socket { read write };
allow ifconfig_t wlan_ezmesh_initrc_t:tcp_socket { read write };

#AFC Application related permissions needed by Ezmesh
filetrans_pattern(wlan_ezmesh_initrc_t, wifi_system_data_t, wifi_system_data_t, file);
allow wlan_ezmesh_initrc_t user_home_dir_t:dir search_dir_perms;
allow wlan_ezmesh_initrc_t self:process getsched;
allow wlan_ezmesh_initrc_t cert_t:dir { read open };
allow wlan_ezmesh_initrc_t cert_t:lnk_file { read_file_perms };
allow wlan_ezmesh_initrc_t usr_t:file { read_file_perms };
allow wlan_ezmesh_initrc_t net_conf_t:file { read_file_perms };
allow wlan_ezmesh_initrc_t http_port_t:tcp_socket name_connect;

#Ezmesh Application specific permission
allow wlan_ezmesh_initrc_t self:netlink_socket create_socket_perms;
allow wlan_ezmesh_initrc_t self:shm { create unix_read unix_write read write associate };
allow wlan_ezmesh_initrc_t self:sem { create unix_read unix_write read write associate };
allow wlan_ezmesh_initrc_t var_run_t:fifo_file { create unlink rw_fifo_file_perms };
allow wlan_ezmesh_initrc_t var_spool_t:dir search_dir_perms;
allow wlan_ezmesh_initrc_t self:netlink_crypto_socket create_socket_perms;
allow wlan_ezmesh_initrc_t unreserved_port_t:tcp_socket name_bind;
allow wlan_ezmesh_initrc_t hostapd_var_run_t:dir search_dir_perms;
allow wlan_ezmesh_initrc_t self:packet_socket getopt;
allow wlan_ezmesh_initrc_t hostapd_var_run_t:sock_file write_sock_file_perms;
allow wlan_ezmesh_initrc_t hostapd_t:unix_dgram_socket sendto;
allow hostapd_t NetworkManager_var_run_t:sock_file write;
allow hostapd_t wlan_ezmesh_initrc_t:unix_dgram_socket sendto;
allow wlan_ezmesh_initrc_t qcmap_etc_data_t:file read_file_perms;
allow wlan_ezmesh_initrc_t var_run_t:sock_file unlink;
allow wlan_ezmesh_initrc_t proc_net_t:file read_file_perms;
allow wlan_initrc_t wlan_ezmesh_initrc_exec_t:file exec_file_perms;
allow wlan_ezmesh_initrc_t wlan_initrc_exec_t:file read_file_perms;
allow wlan_service_t proc_t:file read_file_perms;
allow wlan_service_t var_run_t:file read_file_perms;
allow wlan_service_t var_run_t:fifo_file { create unlink rw_fifo_file_perms };

#Sigma-Dut invoked Ezmesh dependent permissions
allow wlan_initrc_t self:shm { create unix_read unix_write read write associate };
allow wlan_initrc_t var_run_t:fifo_file { create unlink rw_fifo_file_perms };
allow wlan_initrc_t self:netlink_crypto_socket create_socket_perms;
allow wlan_initrc_t qcmap_etc_data_t:file read_file_perms;
allow wlan_initrc_t unreserved_port_t:tcp_socket name_bind;
allow wlan_initrc_t self:packet_socket getopt;
