# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


# Declare
gen_require(`
    type etc_t;
    type hostapd_cli_qcmap_t;
    type ifconfig_t;
    type initrc_t;
    type kmod_t;
    type mount_t;
    type modules_object_t;
    type qcmap_cm_t;
    type user_tmp_t;
    type var_t;
    type var_run_t;
    type wifi_system_data_t;
    type wlan_initrc_t;
    type wlan_initrc_exec_t;
    type wlan_ezmesh_initrc_t;
    type wlan_ezmesh_initrc_exec_t;
    type mount_copybind_exec_t;
    type mount_exec_t;
    type setfiles_exec_t;
    type mount_runtime_t;
    type system_data_t;

    type systemd_unit_t;
    type ipacm_t;
    type initrc_t;
    type hostapd_var_run_t;
    type hostapd_t;
    type wifi_usr_t;
    type wlan_service_exec_t;
    type wlan_service_tmp_t;
    type sysfs_t;
    type wlan_service_t;
    type wpa_cli_t;
    type hotplug_exec_t;
    type init_t;
    type qcmap_etc_data_t;
    type hostapd_tmp_t;
    type initrc_var_run_t;
')

########################################
#More Ezmesh permissions for mcc wlan besides ipq_wlan.tc
#

#Ezmesh apps needs manage wlan files under var_t:
# i.e. /var/[runwlan0_defer|runwlan_mode_info], /var/state/wireless
allow wlan_ezmesh_initrc_t var_t:dir manage_dir_perms;
allow wlan_ezmesh_initrc_t var_t:file manage_file_perms;
allow wlan_initrc_t var_t:dir rw_dir_perms;
allow wlan_initrc_t var_t:file manage_file_perms;
allow wlan_service_t var_t:file read_file_perms;
allow hostapd_cli_qcmap_t var_t:file read_file_perms;

#Ezmesh apps needs access script soft link - start_qca_wifi
allow wlan_initrc_t wlan_service_exec_t:lnk_file { read };

#Ezmesh apps needs access script soft link - start_repacd
allow wlan_ezmesh_initrc_t wlan_service_exec_t:lnk_file { read };

#Ezmesh to access wlan ko under /usr/lib/modules/5.4.259/extra/
allow wlan_initrc_t modules_object_t:dir list_dir_perms;
allow wlan_ezmesh_initrc_t modules_object_t:dir list_dir_perms;
allow wlan_ezmesh_initrc_t modules_object_t:file read_file_perms;

#Ezmesh to mount /etc/config/default_wifi_configs/2g_wireless
allow mount_t wifi_system_data_t:lnk_file read_file_perms;

#Ezmesh iw tool
allow ifconfig_t self:capability { dac_read_search };

#Ezmesh hostapd_cli to initial wpa_ctrl socket
allow hostapd_cli_qcmap_t var_run_t:sock_file { setattr };

#Ezmesh hostapd_cli to read wps-hostapd-upd
allow hostapd_cli_qcmap_t wlan_service_exec_t:lnk_file { read };

#Ezmesh rm mode write log to /tmp/repacd.log
allow kmod_t user_tmp_t:file { write };

#Ezmesh access /etc/passwd
allow wlan_ezmesh_initrc_t etc_t:file read_file_perms;

#Ezmesh start-stop-daem to stat access /proc
allow wlan_ezmesh_initrc_t init_t:lnk_file { read };
allow wlan_ezmesh_initrc_t initrc_t:lnk_file { read };
allow wlan_ezmesh_initrc_t qcmap_cm_t:lnk_file { read };

#Ezmesh start-stop-daem to stat access /proc/<pid>/*
allow wlan_ezmesh_initrc_t wlan_service_t:file read_file_perms;
allow wlan_ezmesh_initrc_t init_t:file read_file_perms;
allow wlan_ezmesh_initrc_t initrc_t:file read_file_perms;
allow wlan_ezmesh_initrc_t qcmap_cm_t:file read_file_perms;

#mount ezmesh configure files
mount_domtrans(wlan_initrc_t)

allow wlan_initrc_t mount_copybind_exec_t:file { read open execute execute_no_trans };
allow wlan_initrc_t mount_exec_t:file { map getattr read open execute execute_no_trans };
allow wlan_initrc_t setfiles_exec_t:file { map getattr read open execute execute_no_trans };
allow wlan_initrc_t mount_runtime_t:dir { search getattr };
allow wlan_initrc_t wifi_system_data_t:file { mounton };

#Backup wlan ini configure
allow wlan_initrc_t system_data_t:file { getattr open create write };

########################################
# New rules for EasyMesh R6

# ezmesh process (wlan_ezmesh_initrc_t) adjusts attributes on control socket files it creates/uses.
allow wlan_ezmesh_initrc_t wlan_service_tmp_t:sock_file { setattr };

# 'rm' under wlan_ezmesh_initrc_t modifies and removes a temp file (map_bh_info.tmp) in tmpfs
# labeled as hostapd_tmp_t.
allow wlan_ezmesh_initrc_t hostapd_tmp_t:file { write unlink };

allow wlan_initrc_t etc_t:file read_file_perms;

# wpa_cli (running under wlan_initrc_t) adjusts attributes (e.g., owner/mode) on its control socket file.
allow wlan_initrc_t wlan_service_tmp_t:sock_file { setattr };

# uci (running in wlan_initrc_t) attempts to create directory entry "state" under /var.
allow wlan_initrc_t var_t:dir { create add_name write };

# The init logic checks hostapd global PID file under /run; only getattr is required per AVC.
allow wlan_initrc_t hostapd_var_run_t:file { getattr };

# wpa_cli (running under wlan_initrc_t) needs to traverse the hostapd runtime directory.
allow wlan_initrc_t hostapd_var_run_t:dir { search };

# wpa_cli needs to send commands to hostapd's global control socket via write on sock_file.
allow wlan_initrc_t hostapd_var_run_t:sock_file { write };

# wpa_cli (running under wlan_initrc_t) needs to send datagrams to hostapd control socket.
allow wlan_initrc_t hostapd_t:unix_dgram_socket { sendto };

# qcmap_cm_t domain needs to check attributes of init script labeled as wlan_ezmesh_initrc_exec_t.
allow qcmap_cm_t wlan_ezmesh_initrc_exec_t:file getattr;

# ipacm_t reads shell helper script jshn.sh labeled as wifi_usr_t.
allow ipacm_t wifi_usr_t:file { getattr open read };

# ipacm_t needs to invoke uci executable labeled as wlan_service_exec_t without domain transition.
allow ipacm_t wlan_service_exec_t:file { getattr open read map execute execute_no_trans };

# uci (running under ipacm_t) reads and locks the wireless config file labeled as wifi_system_data_t.
allow ipacm_t wifi_system_data_t:file { getattr open read lock };

# uci searches temporary working directory ".uci" under /tmp labeled as user_tmp_t.
allow ipacm_t user_tmp_t:dir { search };

# uci (running under ipacm_t) needs to traverse the temporary work directory ".uci" labeled as wlan_service_tmp_t.
allow ipacm_t wlan_service_tmp_t:dir { search };

# uci reads and locks the temporary "wireless" file in .uci; only read-like and lock are required.
allow ipacm_t wlan_service_tmp_t:file { getattr open read lock };

# ipacm_t needs to stat the init script labeled as wlan_ezmesh_initrc_exec_t.
allow ipacm_t wlan_ezmesh_initrc_exec_t:file { getattr };

allow hostapd_cli_qcmap_t initrc_var_run_t:file { read_file_perms write };

# hostapd_cli_qcmap_t needs to stat the ezmesh init script labeled as wlan_ezmesh_initrc_exec_t.
allow hostapd_cli_qcmap_t wlan_ezmesh_initrc_exec_t:file getattr;

# hostapd_cli_qcmap_t (via ls/hotplug-call) needs to stat and read the hotplug script file.
allow hostapd_cli_qcmap_t hotplug_exec_t:file { getattr open read };

# hostapd (hostapd_t) sends datagrams to a control socket created/owned by wlan_initrc_t
allow hostapd_t wlan_initrc_t:unix_dgram_socket { sendto };

# hostapd (hostapd_t) sends signals to its own processes/threads (CAP_KILL).
allow hostapd_t self:capability { kill };

# wpa_cli requires CAP_DAC_READ_SEARCH to traverse/read despite DAC restrictions.
allow wpa_cli_t self:capability { dac_read_search };

# systemd (init_t) writes to the 'rt_tables' file labeled as qcmap_etc_data_t.
allow init_t qcmap_etc_data_t:file { write };
