# Copyright (c) 2021, The Linux Foundation. All rights reserved.

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#    * Neither the name of The Linux Foundation nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

mls_file_read_all_levels(adbd_t)
mls_file_write_all_levels(adbd_t)
dev_write_kmsg(adbd_initrc_t)

gen_require(`
    type cgroup_t;
    type debugfs_t;
    type default_context_t;
    type event_device_t;
    type file_context_t;
    type fs_t;
    type kmsg_device_t;
    type port_bridge_usb_device_t;
    type setfiles_exec_t;
    type setprop_exec_t;
    type tmp_t;
    type tmpfs_t;
    type leprop_sock_t;
    type leprop_t;
')
allow usb_t cgroup_t:filesystem getattr;
allow usb_t debugfs_t:dir search;
allow usb_t debugfs_t:filesystem getattr;
allow usb_t event_device_t:chr_file getattr;
allow usb_t fs_t:filesystem getattr;
allow usb_t port_bridge_usb_device_t:chr_file { relabelfrom relabelto getattr };
allow usb_t self:capability fowner;

# /sbin/start_usb exec restorecon and setprop command
allow usb_t setfiles_exec_t:file { read map getattr open execute execute_no_trans };
allow usb_t setprop_exec_t:file { read map getattr open execute execute_no_trans };

allow usb_t tmp_t:dir { write remove_name search add_name };
allow usb_t tmp_t:file { write create unlink open getattr };
allow usb_t tmpfs_t:filesystem getattr;
allow usb_t tmpfs_t:dir { search write add_name };
allow usb_t socket_device_t:dir search;
allow usb_t leprop_sock_t:sock_file write;
allow usb_t leprop_t:unix_stream_socket connectto;
allow adbd_initrc_t adbd_initrc_exec_t:file read_file_perms;
dontaudit usb_t kernel_t:system { module_request };

allow usb_t functionfs_t:dir getattr;


gen_require(`
    type cpu_sysfs_t;
    type cpu_scaling_freq_t;
')
allow adbd_t cpu_sysfs_t:dir search_dir_perms;
allow adbd_t cpu_sysfs_t:file read_file_perms;
allow adbd_t cpu_scaling_freq_t:file read_file_perms;

userdebug_or_eng(`
 gen_require(`
  type qmmf_server_exec_t;
  type qmmf_server_t;
  type servicemanager_t;
  type binderfs_t;
  type weston_runtime_t;
 ')
 allow adbd_t qmmf_server_exec_t:service { start status };
 allow adbd_t qmmf_server_t:binder { call transfer };
 allow adbd_t servicemanager_t:binder call;
 allow adbd_t binderfs_t:dir search;
 allow adbd_t weston_runtime_t:sock_file write_sock_file_perms;
')
