# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type default_context_t;
    type file_context_t;
    type var_cache_t;
    type etc_t;
    type overlay_t;
    type var_spool_t;
    type var_t;
    type kernel_t;
')

allow mount_copybind_t default_context_t:dir search;
allow mount_copybind_t file_context_t:dir search;
allow mount_copybind_t file_context_t:file mmap_read_file_perms;
allow mount_copybind_t var_cache_t:dir getattr;
allow mount_copybind_t var_spool_t:dir getattr;

allow mount_t etc_t:dir mounton;
allow mount_t overlay_t:chr_file unlink;

allow mount_t var_cache_t:dir mounton;

allow mount_t var_spool_t:dir mounton;
allow mount_t var_t:chr_file unlink;

#TODO: Restrict to required minimum permissions rather than manage_dir_perms/manage_file_perms.
allow mount_t var_t:dir manage_dir_perms;
allow mount_t var_t:file manage_file_perms;

#TODO: Restrict to required minimum permissions rather than manage_dir_perms/manage_file_perms.
allow mount_t overlay_t:dir manage_dir_perms;
allow mount_t overlay_t:file manage_file_perms;
