# Copyright (c) 2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(audio_hal_test, 1.0)

gen_require(`
	type tracefs_t;
	type trace_marker_t;
')

#============= hal_rec_test_t ================================================

type hal_rec_test_t;
type hal_rec_test_exec_t;

init_daemon_domain(hal_rec_test_t, hal_rec_test_exec_t)
unconfined_domtrans_to(hal_rec_test_t, hal_rec_test_exec_t)

# self
allow hal_rec_test_t self:unix_dgram_socket create_socket_perms ;

# For /dev nodes and files related to audio hal
audio_hal_access(hal_rec_test_t)

non_audio_hal_access(hal_rec_test_t)

# Manage private files inside /data
type hal_rec_test_data_t;
user_data_files_type(hal_rec_test_data_t)
manage_user_data_files(hal_rec_test_t, hal_rec_test_data_t)
data_filetrans(hal_rec_test_t, hal_rec_test_data_t, { file })

audio_data_files_access(hal_rec_test_t)

#others
allow hal_rec_test_t tracefs_t:filesystem mount;
allow hal_rec_test_t tracefs_t:dir search;
allow hal_rec_test_t trace_marker_t:file { write open };

allow hal_rec_test_t sysfs_t:file write; #/sys/power/wake_lock

#============= hal_play_test_t ==============================================

type hal_play_test_t;
type hal_play_test_exec_t;

init_daemon_domain(hal_play_test_t, hal_play_test_exec_t)
unconfined_domtrans_to(hal_play_test_t, hal_play_test_exec_t)

# self
allow hal_play_test_t self:unix_dgram_socket create_socket_perms ;

# For /dev nodes and files related to audio hal
audio_hal_access(hal_play_test_t)

non_audio_hal_access(hal_play_test_t)

# Manage private files inside /data
type hal_play_test_data_t;
user_data_files_type(hal_play_test_data_t)
manage_user_data_files(hal_play_test_t, hal_play_test_data_t)
data_filetrans(hal_play_test_t, hal_play_test_data_t, { file })

# the below policy is to allow access to recorded files by hal_rec_test for hal_play_test
audio_data_files_access(hal_play_test_t)

# others
allow hal_play_test_t tracefs_t:filesystem mount;
allow hal_play_test_t tracefs_t:dir search;
allow hal_play_test_t trace_marker_t:file { write open };

allow hal_play_test_t sysfs_t:file write; #/sys/power/wake_lock
