# Copyright (c) 2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

## <summary>audio_hal</summary>

########################################
## <summary>
##      audio hal access
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#

interface(`audio_hal_device_access',`
    gen_require(`
        type sound_device_t;
    ')
    rw_chr_files_pattern($1, device_t, sound_device_t);
    rw_audio_dev($1)
')

interface(`audio_hal_files_access',`
    gen_require(`
        type audio_hal_etc_t;
        type audio_hal_etc_acdb_t;
    ')
    allow $1 audio_hal_etc_t:file { read open getattr };
    allow $1 audio_hal_etc_acdb_t:file { read getattr open };
    allow $1 audio_hal_etc_acdb_t:dir { read search getattr open };
')

interface(`audio_hal_access',`
    audio_hal_device_access($1)
    audio_hal_files_access($1)
')

# The below interface - "non_audio_hal_access" is to get
# access for files which are not owned by audio hal but
# used by audio hal
interface(`non_audio_hal_access',`
    gen_require(`
	type debugfs_t;
	type sysfs_t;
	type proc_t;
	type diag_device_t;
	type ion_device_t;
    ')
    userdebug_or_eng(`
    rw_chr_files_pattern($1, device_t, diag_device_t);
    ')
    rw_chr_files_pattern($1, device_t, ion_device_t);
    leprop_rw_props($1)
    # the file corresponding to below denial is - /sys/devices/soc0/hw_platform
    allow $1 sysfs_t:file read_file_perms;
    # the file corresponding to below denial is - /sys/kernel/debug/asoc
    allow $1 debugfs_t:dir search_dir_perms;
    # the file corresponding to below denial is - /proc/asound/pcm
    allow $1 proc_t:file read_file_perms;

')

interface(`audio_data_files_access',`
    gen_require(`
        type audio_data_file_t;
    ')
    manage_user_data_files($1, audio_data_file_t)
')
