# Copyright (c) 2016-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
# SPDX-License-Identifier: BSD-3-Clause-Clear

# Systemd policies
ifdef(`init_systemd',`
    ifdef(`enable_mls',`
        # systemd-journal is s15
        # For: allow syslogd_t init_t:unix_dgram_socket sendto;
        mls_trusted_socket(init_t)
        mls_file_upgrade(init_t)
        # Similar to mls_file_downgrade(kernel_t), but init binary has correct
        #  label from filesystem compilation instead of only after selinux-init
        #  runtime relabeling.
        mls_file_downgrade(init_t)
    ')

    # Should be included in later upstream versions
    #allow init_t {
    #    init_var_run_t
    #}:service { status start stop };

    #fs_search_cgroup_dirs(daemon)
    #allow init_t daemon:unix_stream_socket create_stream_socket_perms;
    gen_require(`
        type adbd_system_data_t;
        type usb_dev_t;
        type qvr_data_t;
    ')
    allow init_t adbd_system_data_t:file write;
#allow busybox init to search usb_dev directory
    allow init_t usb_dev_t:dir search;
    data_mount_user_dir(init_t)
    data_mount_volatile_bind(init_t)
    persist_mount_dir(init_t)

    gen_require(`
        type system_data_t;
        type kernel_t;
        type kmod_t;
    ')
    allow init_t system_data_t:dir manage_dir_perms;
    allow init_t kernel_t:key manage_key_perms;

#allow modprobe to load kernel modules
    allow init_t kmod_t:process2 nnp_transition;

    mls_key_write_all_levels(init_t)
')
# find_partitions
mount_domtrans(initrc_t)
seutil_domtrans_setfiles(initrc_t)

gen_require(`
    attribute user_data;
    attribute system_data;
    type sxr_data_t;
    type qvr_data_t;
    type sysdevice_sysfs_t;
    type brightness_t;
    type sysfs_vblank_t;
    type mpss_persist_t;
    type tftp_server_t;
    type unconfined_t;
    type faultmgr_data_t;
    type qfhlog_data_t;
    type splane_data_t;
    type pwrmgr_data_t;
    type pwrmgr_t;
')

# If these neverallows are tripped, it likely means a daemon was created
#  without a unique context. Please update the file that launches the
#  service with a unique selinux context before allowing access to these
#  attributes.
neverallow { domain -initrc_t -tftp_server_t -pwrmgr_t userdebug_or_eng(` -unconfined_t ') } mpss_persist_t:file rw_file_perms;
neverallow initrc_t { user_data -sxr_data_t -qvr_data_t -mpss_persist_t -qfhlog_data_t -splane_data_t -faultmgr_data_t -pwrmgr_data_t}:file rw_file_perms;
neverallow initrc_t system_data:file rw_file_perms;
allow initrc_t sysdevice_sysfs_t:file { getattr open read };

# start_display_le script runs in initrc_t context and needs permission to
# change ownership of brightness nodes after display kernel module loading.
allow initrc_t brightness_t:file rw_file_perms;
allow initrc_t brightness_t:file { setattr };
allow initrc_t sysfs_vblank_t:file read_file_perms;

#allowing init process to access overlay
gen_require(`
    type overlay_t;
')
allow init_t overlay_t:dir list_dir_perms;
allow init_t qvr_data_t:dir list_dir_perms;
allow init_t qvr_data_t:file {manage_file_perms};

#userdebug_or_eng(`
#    reboot_write_fifo_files_reboot_device(init_t)
#')
#
# This is only needed in newer kernel which support
# nnp_transistion as sepolicy code can get kernel
# update so add it , if support is not there it will
# be simply ignore.
#
allow init_t initrc_t:process2 nnp_transition;

gen_require(`
    type initrc_t;
    type binderfs_t;
    type hwbinder_device_t;
    type binder_device_t;
    type vndbinder_device_t;
    type servicemanager_t;
')

allow initrc_t binderfs_t:dir { getattr search };
allow initrc_t hwbinder_device_t:chr_file { getattr setattr };
allow initrc_t vndbinder_device_t:chr_file { getattr setattr };
allow initrc_t binder_device_t:chr_file { getattr setattr };
allow initrc_t servicemanager_t:binder call;

allow init_t faultmgr_data_t:dir list_dir_perms;
allow init_t faultmgr_data_t:file {manage_file_perms};
allow init_t faultmgr_data_t:dir mounton;
allow initrc_t faultmgr_data_t:dir list_dir_perms;
allow initrc_t faultmgr_data_t:file {manage_file_perms};

allow init_t pwrmgr_data_t:dir mounton;
