# Copyright (c) 2018,2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#  Changes from Qualcomm Innovation Center are provided under the following license:
#
#  Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#todo: cleanup commented line
#ifdef(`init_systemd',`
    # dev-log is supposed to obtain its context from either
    # files_runtime_filetrans (for var_run_t directories) or
    #  init_pid_filetrans (for init_var_run_t directories). SELinux
    #  denials are also pointing to syslogd_var_run_t as a parent directory
    type_transition syslogd_t syslogd_var_run_t:sock_file devlog_t "dev-log";

    # Test for presence of other daemons without actually sending a signal
    domain_signull_all_domains(syslogd_t)
    # For /run/systemd/journal/io.systemd.journal
    allow syslogd_t syslogd_var_run_t:sock_file create_sock_file_perms;

    # There may be a race condition where some other service is creating
    #  log directories before systemd-tmpfiles has a chance to create them.
    gen_require(`
        type systemd_tmpfiles_t;
        type init_var_run_t;
        type iptables_runtime_t;
        type device_t;
        type wlan_hsp_sysfs_t;
        type overlay_t;
    ')
    # syslogd_tmp_t has a higher mls clearance than systemd-tmpfiles, so dontaudit this
    dontaudit systemd_tmpfiles_t syslogd_tmp_t:dir { setattr relabelfrom relabelto create };
    # Allow creating additional files/directories in generic var_log_t directories
    systemd_tmpfilesd_managed(var_log_t)

    allow systemd_tmpfiles_t syslogd_var_run_t:dir search_dir_perms;
    # If auditd is not running, don't report attempts from
    #  systemd-journal to turn it back on.
    dontaudit syslogd_t self:capability audit_control;
    dontaudit syslogd_t self:netlink_audit_socket nlmsg_write;

    mls_fd_use_all_levels(syslogd_t)
    mls_socket_write_all_levels(syslogd_t)

    allow syslogd_t init_var_run_t:file read_file_perms;
    allow syslogd_t self:netlink_audit_socket nlmsg_write;
    allow syslogd_t self:unix_stream_socket { write setopt shutdown };
    allow syslogd_t device_t:lnk_file unlink;
    allow syslogd_t iptables_runtime_t:file create;
    allow syslogd_t wlan_hsp_sysfs_t:dir { getattr search_dir_perms };
    allow syslogd_t wlan_hsp_sysfs_t:file { create rw_file_perms };
    allow syslogd_t overlay_t:dir search_dir_perms;
#')
