# Copyright (c) 2018-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Changes from Qualcomm Innovation Center are provided under the following license:
#
# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

userdebug_or_eng(`
    gen_require(`
        attribute user_data;
        attribute system_data;
        type alogd_t;
        type node_t;
        type data_t;
    ')
    manage_user_data_files(unconfined_t, user_data)
    manage_system_data_files(unconfined_t, system_data)

    dev_write_kmsg(unconfined_t)
    mls_file_write_all_levels(unconfined_t)
    mls_file_read_all_levels(unconfined_t)

    wlan_start_stop(unconfined_t)

    # Audio test app
    servicemanager_binder_use(unconfined_t)
    audio_binder_call_transfer(unconfined_t)
    allow unconfined_t self:capability2 block_suspend;
    allow unconfined_t alogd_t:dir search;
    shutdown_domtrans(unconfined_t)

    allow domain unconfined_t:unix_dgram_socket sendto;
    allow unconfined_t self:process execmem;

    ifdef(`init_systemd', `
        gen_require(`
            type init_t;
            type systemd_unit_t;
            type etc_t;
            type power_unit_t;
            class service { start status stop enable disable reload };
        ')

        # Allow unconfined type full access to systemctl commands
        allow unconfined_domain_type {
            init_t
            systemd_unit_t
            power_unit_t
            etc_t
        }:{ system service } { start stop status enable disable reload };
        allow unconfined_domain_type init_t:system { reboot halt };
    ')

    # Ping from shell
    allow unconfined_t node_t:icmp_socket node_bind;

    # Run iperf from shell
    allow unconfined_t data_t:file map;

    #Run df -h
    gen_require(`
        type usb_dev_t;
    ')
    allow unconfined_t usb_dev_t:dir search;
    gen_require(`
        type sysdevice_sysfs_t;
        type sysfs_vblank_t;
    ')
    allow unconfined_t sysdevice_sysfs_t:file { getattr open read };
    allow unconfined_t sysfs_vblank_t:file read_file_perms;
    gen_require(`
      type brightness_t;
    ')
    allow unconfined_t brightness_t:file read_file_perms;

    #Run wifi commands
    gen_require(`
        type wlan_hsp_sysfs_t;
    ')
    allow unconfined_t wlan_hsp_sysfs_t:dir { getattr search_dir_perms rw_dir_perms };
    allow unconfined_t wlan_hsp_sysfs_t:file { rw_file_perms };
    gen_require(`
      type gpumodel_t;
    ')
    allow unconfined_t gpumodel_t:file read_file_perms;
    #Collect kmsg
    gen_require(`
        type proc_kmsg_t;
    ')
    allow unconfined_t proc_kmsg_t:file read_file_perms;
')
