# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


# cpu_scaling_min/max can be set from user shell in testing
# so adding this
userdebug_or_eng(`
	gen_require(`
		type cpu_scaling_freq_t;
		type fbe_secure_data_t;
		type hwfde_conf_file_t;
		type install_evict_t;
		type dumgr_config_t;
		type sysfs_usb_mode_t;
		type tuicoreservice_dev_t;
	')

allow unconfined_t cpu_scaling_freq_t:file { getattr open read };
allow unconfined_t fbe_secure_data_t:dir search_dir_perms;
allow unconfined_t fbe_secure_data_t:file read_file_perms;
allow unconfined_t hwfde_conf_file_t:file read_file_perms;
allow unconfined_t install_evict_t:file exec_file_perms;
allow unconfined_t dumgr_config_t:dir { search getattr read open };
allow unconfined_t dumgr_config_t:file read_file_perms;
allow unconfined_t sysfs_usb_mode_t:file { getattr read open write };
allow unconfined_t tuicoreservice_dev_t:chr_file { ioctl open read };
')
