# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(container_mount, 1.0)

attribute platform_container_bind_mount;

# Transition to unique mount context to better track mount binary denials

gen_require(`
    role system_r;
    type mount_exec_t;
')
type container_mount_t;
domain_type(container_mount_t)
role system_r types container_mount_t;
allow container_mount_t mount_exec_t:file entrypoint;
can_exec(container_mount_t, mount_exec_t)

gen_require(`
    type getty_t;
    type mount_runtime_t;
    type var_run_t;
    type tmpfs_t;

    attribute platform_container_domain;
    attribute platform_launcher_domain;
')
allow container_mount_t { platform_container_domain platform_launcher_domain }:fd use;
allow container_mount_t { platform_container_domain platform_launcher_domain }:fifo_file read;
selinux_get_fs_mount(container_mount_t)
seutil_read_config(container_mount_t)
getty_use_fds(container_mount_t)
term_use_unallocated_ttys(container_mount_t)
allow container_mount_t platform_container_bind_mount:dir { getattr mounton };
# TODO: This is likely for vfs test, any way to only grant to test process?
userdebug_or_eng(`
    gen_require(`
        type mnt_t;
    ')
    allow container_mount_t mnt_t:dir { getattr mounton };
')
allow container_mount_t mount_runtime_t:dir { read write search getattr };
# TODO: Does this need updating if custom label used?
allow container_mount_t tmpfs_t:dir { getattr search };
allow container_mount_t tmpfs_t:filesystem { mount unmount getattr };
# files_search_pids changed to files_search_runtime in later upstream versions
files_search_pids(container_mount_t)
allow container_mount_t self:capability sys_admin;
