# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary> libcontainer interface </summary>

########################################
## <summary>
##      Use domain as a launcher type
## </summary>
## <param name="domain">
##      <summary>
##      Type to be used as a launcher for container types
##      </summary>
## </param>
## <param name="entry_point">
##      <summary>
##      Type of the program to be used as an entry point to this domain.
##      </summary>
## </param>
#
interface(`platform_launcher_domain_type',`
    gen_require(`
        attribute platform_launcher_domain;
    ')
    typeattribute $1 platform_launcher_domain;

    # This still requires communicating with systemd
    init_daemon_domain($1, $2)
')
