#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

# watch permissions to adsprpcd
allow adsprpcd_t self:dir watch;