# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


########################################
#
# Declarations
#


gen_require(`
    type cpu_core_ctl_sysfs_t;
')

allow perf_hal_t cpu_core_ctl_sysfs_t:dir list_dir_perms;
allow perf_hal_t cpu_core_ctl_sysfs_t:file rw_file_perms;

