# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type overlay_t;
')

allow adbd_initrc_t overlay_t:dir { add_entry_dir_perms setattr };
