# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#To support ramdump files
type ramdump_data_t;
files_type(ramdump_data_t)
