# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type thermal-engine_t;
')

allow thermal-engine_t self:capability sys_admin;
