# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type etc_t;
')

allow post_boot_script_t etc_t:file read_file_perms;

type glinkpkt_q6_audio_ctrl_t;
files_type(glinkpkt_q6_audio_ctrl_t)
