# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type dnsmasq_unit_t;
    type hostapd_unit_t;
')

dontaudit qcmap_cm_t dnsmasq_unit_t:service { start stop status reload };
allow qcmap_cm_t hostapd_unit_t:service { start stop reload };

