# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

dontaudit post_boot_script_t self:capability dac_override;

gen_require(`
    type etc_t;
    type overlay_t;
    type modules_object_t;
')

allow post_boot_script_t etc_t:file read_file_perms;
allow touch_script_t modules_object_t:dir search;
allow touch_script_t modules_object_t:file getattr;
allow touch_script_t overlay_t:dir search;

permissive tftp_server_t;
permissive diag-router_t;
