# Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#    * Neither the name of The Linux Foundation nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(adbd, 1.0)

type adbd_t;
type adbd_exec_t;

type usb_dev_t;
dev_node(usb_dev_t)

gen_require(`
    type device_t;
    type kernel_t;
')

# not using init_vendor_domain here due to unconfined_domain
init_daemon_domain(adbd_t, adbd_exec_t)

userdebug_or_eng(`
    unconfined_shell_domtrans(adbd_t)
    unconfined_domain(adbd_t)
    # ADB shell user transition
    domain_subj_id_change_exemption(adbd_t)
    domain_role_change_exemption(adbd_t)

    gen_require(`
        attribute user_data;
        attribute system_data;
    ')
    manage_user_data_files(adbd_t, user_data)
    manage_system_data_files(adbd_t, system_data)
')

files_read_config_files(adbd_t)
kernel_read_system_state(adbd_t)
allow adbd_t self:capability { dac_override setgid };
allow adbd_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_bind_all_unreserved_ports(adbd_t)
corenet_tcp_bind_generic_node(adbd_t)
dev_read_sysfs(adbd_t)

# USB gadgets
fs_manage_configfs_files(adbd_t)
# /dev/usb-ffs/adb
fs_search_functionfs_dirs(adbd_t)
fs_rw_functionfs_files(adbd_t)

type adbd_system_data_t;
system_data_files_type(adbd_system_data_t)

read_files_pattern(adbd_t, { device_t usb_dev_t }, usb_dev_t)

# usb initscript
type adbd_initrc_exec_t;
type adbd_initrc_t;

init_script_domain(adbd_initrc_t, adbd_initrc_exec_t)
domtrans_pattern(adbd_initrc_t, adbd_exec_t, adbd_t)
adb_manage_data_files(adbd_initrc_t)
leprop_rw_props(adbd_initrc_t)
alog_manage_log(adbd_initrc_t)
data_filetrans(adbd_initrc_t, adbd_system_data_t, file)
# The default initrc_t context is unconfined - do the same here.
unconfined_domain(adbd_initrc_t)

# /sys/class/android_usb/android0/*
gen_require(`
    type sysfs_t;
    type mount_copybind_exec_t;
    type mount_copybind_t;
')
create_files_pattern(adbd_initrc_t, sysfs_t, sysfs_t)
domtrans_pattern(adbd_initrc_t, mount_copybind_exec_t, mount_copybind_t);

# Allow all domains opened via adb shell to display log messages on adb shell
type adbd_pty_t;
term_create_pty(adbd_t, adbd_pty_t)
allow domain adbd_pty_t:chr_file rw_term_perms;
allow domain adbd_t:fd use;
qcmap_read_qcmap_etc_data_files(adbd_initrc_t)

# Add policies for pcie configs
type adb_data_conf_t;
type pcie_initrc_t;
type pcie_initrc_exec_t;
user_data_files_type(adb_data_conf_t)
init_script_domain(pcie_initrc_t, pcie_initrc_exec_t)
init_rw_stream_sockets(pcie_initrc_t)
gen_require(`
 type sysdevice_sysfs_t;
 type sysfs_vblank_t;
')
userdebug_or_eng(`
    # Check existance of /dev/mhi_ctrl
    gen_require(`
        type dataqti_device_t;
        type shell_exec_t;
        type sysfs_t;
    ')
    allow pcie_initrc_t dataqti_device_t:chr_file getattr;
    allow pcie_initrc_t self:fifo_file rw_fifo_file_perms;
    allow pcie_initrc_t shell_exec_t:file { read map execute };
    allow pcie_initrc_t sysfs_t:file { read open };
    diag_domtrans(pcie_initrc_t)
    dev_write_kmsg(pcie_initrc_t)
    kernel_read_system_state(pcie_initrc_t)
    adb_manage_data_files(pcie_initrc_t)
    data_filetrans(pcie_initrc_t, adb_data_conf_t, file)
    read_user_data_files(adbd_initrc_t, adb_data_conf_t)
    manage_user_data_files(pcie_initrc_t, adb_data_conf_t)
    mls_file_write_all_levels(pcie_initrc_t)
    allow adbd_initrc_t kmsg_device_t:chr_file { write };
    mls_file_write_all_levels(adbd_initrc_t);
')
allow pcie_initrc_t sysdevice_sysfs_t:file { getattr open read };
type usb_t;
type usb_exec_t;
files_type(usb_exec_t)
init_daemon_domain(usb_t, usb_exec_t)
allow usb_t sysdevice_sysfs_t:file { getattr open read };

dev_rw_sysfs(usb_t)
allow usb_t self:unix_stream_socket create_socket_perms;
dev_write_kmsg(usb_t)
allow usb_t self:fifo_file rw_fifo_file_perms;

# /etc/usb (overlay-backed) is written by start_usb
gen_require(`
    type etc_t;
')
allow usb_t etc_t:dir { write add_name };
allow usb_t etc_t:file create;

# TODO: Move to /var
type usb_var_lock_t;
user_data_files_type(usb_var_lock_t)
data_filetrans(usb_t, usb_var_lock_t, file, "usb_bind_in_progress")
manage_user_data_files(usb_t, usb_var_lock_t)
auditallow usb_t usb_var_lock_t:file manage_file_perms;
files_runtime_filetrans(usb_t, usb_var_lock_t, file, "usb_bind_in_progress")
manage_files_pattern(usb_t, usb_var_lock_t, usb_var_lock_t)

userdebug_or_eng(`
    allow usb_t kmsg_device_t:chr_file { write };
    mls_file_write_all_levels(usb_t);
    seutil_domtrans_setfiles(usb_t)
')

adb_manage_data_files(usb_t)
gen_require(`
    type configfs_t;
')
fs_manage_configfs_dirs(usb_t)
fs_manage_configfs_files(usb_t)
manage_lnk_files_pattern(usb_t, configfs_t, configfs_t)

# TODO: why is remounting necessary?
gen_require(`
    type devpts_t;
')
allow usb_t devpts_t:dir getattr;
auditallow usb_t devpts_t:dir getattr;
allow usb_t devpts_t:filesystem { getattr remount };
auditallow usb_t devpts_t:filesystem { getattr remount };

mount_domtrans(usb_t)
kernel_read_system_state(usb_t)
corecmd_exec_shell(usb_t)

# TODO: why are these not created by kernel?
gen_require(`
    type sysfs_t;
')
allow usb_t sysfs_t:dir rw_dir_perms;
allow usb_t sysfs_t:file create;

allow usb_t usb_exec_t:file execute_no_trans;
files_search_runtime(usb_t)  # TODO: what to look for?

type_transition usb_t device_t:dir usb_dev_t;
manage_files_pattern(usb_t, { device_t usb_dev_t }, usb_dev_t)
manage_dirs_pattern(usb_t, { device_t usb_dev_t }, usb_dev_t)
manage_lnk_files_pattern(usb_t, { device_t usb_dev_t }, usb_dev_t)

vendor_read_target(usb_t)

# TODO: usb scripts need to call insmod instead
allow usb_t kernel_t:system module_request;
auditallow usb_t kernel_t:system module_request;

gen_require(`
    type mount_t;
')
allow mount_t usb_dev_t:dir { search getattr mounton };

# allow creating debugfs dir/files from start_usb context
gen_require(`
    type debugfs_t;
')
allow usb_t debugfs_t:dir rw_dir_perms;
allow usb_t debugfs_t:file create;

allow usb_t sysfs_vblank_t:file read_file_perms;

# add permissions for usb_t to access usb_bind_t
type usb_bind_tmp_t;
files_tmp_file(usb_bind_tmp_t)
files_tmp_filetrans(usb_t,usb_bind_tmp_t,{ file dir })
allow usb_t usb_bind_tmp_t:file manage_file_perms;

mls_file_read_all_levels(adbd_t)
mls_file_write_all_levels(adbd_t)
dev_write_kmsg(adbd_initrc_t)

gen_require(`
    type cgroup_t;
    type debugfs_t;
    type event_device_t;
    type fs_t;
    type port_bridge_usb_device_t;
    type tmp_t;
    type tmpfs_t;
    type leprop_sock_t;
    type leprop_t;
    type pmsg_device_t;
    type image_variant_sysfs_t;
    type overlay_t;
    type usbfs_t;
')
allow usb_t cgroup_t:filesystem getattr;

userdebug_or_eng(`
    allow usb_t debugfs_t:dir search;
    allow usb_t debugfs_t:filesystem getattr;
')
allow usb_t event_device_t:chr_file getattr;
allow usb_t fs_t:filesystem getattr;
allow usb_t port_bridge_usb_device_t:chr_file relabel_chr_file_perms;
allow usb_t self:capability fowner;

allow usb_t tmp_t:dir { add_entry_dir_perms del_entry_dir_perms };
allow usb_t tmp_t:file { write_file_perms create_file_perms delete_file_perms };
allow usb_t tmpfs_t:filesystem getattr;
allow usb_t tmpfs_t:dir add_entry_dir_perms;
allow usb_t socket_device_t:dir search;
allow usb_t leprop_sock_t:sock_file write;
allow usb_t leprop_t:unix_stream_socket connectto;
allow adbd_initrc_t adbd_initrc_exec_t:file read_file_perms;

allow usb_t pmsg_device_t:chr_file rw_chr_file_perms;
allow usb_t image_variant_sysfs_t:dir search;
allow usb_t image_variant_sysfs_t:file read_file_perms;

allow adbd_initrc_t overlay_t:dir list_dir_perms;
allow usb_t overlay_t:dir setattr_dir_perms;
allow usb_t usbfs_t:dir getattr_dir_perms;
