# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(auto_audio_hal, 1.0)

gen_require(`
    type audio_hal_etc_t;
    type mount_copybind_t;
    type mount_t;
')
allow mount_copybind_t audio_hal_etc_t:file { setattr getattr read open relabelto create write };
allow mount_t audio_hal_etc_t:file { getattr mounton };
dontaudit mount_copybind_t audio_hal_etc_t:file { ioctl };
