# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(diag-router, 1.0)

########################################
#
# Declarations
#

type diag-router_t;
type diag-router_exec_t;
type mhi_pipe_4_t;
dev_node(mhi_pipe_4_t);
init_vendor_domain(diag-router_t, diag-router_exec_t)

#===============diag-router_t =====================
userdebug_or_eng(`
  gen_require(`
    type socket_device_t;
    type unconfined_t;
    type boot_kpi_values_t;
    type overlay_t;
    type usb_dev_t;
    type usbfs_t;
    type sysfs_t;
  ')

  allow diag-router_t self:qipcrtr_socket create_socket_perms;
  allow domain diag-router_t:unix_stream_socket connectto;
  fs_manage_configfs_files(diag-router_t)
  fs_search_functionfs_dirs(diag-router_t)
  fs_rw_functionfs_files(diag-router_t)
  allow diag-router_t functionfs_t:dir read;
  allow diag-router_t self:netlink_kobject_uevent_socket { read bind create };
  allow diag-router_t self:netlink_kobject_uevent_socket setopt;
  allow diag-router_t self:unix_stream_socket { accept listen };
  dev_read_sysfs(diag-router_t)

  allow diag-router_t self:socket create_socket_perms;
  allow diag-router_t socket_device_t:dir search;
  allow diag-router_t self:process signal;
  allow diag-router_t self:capability kill;
  allow diag-router_t mhi_pipe_4_t:chr_file rw_chr_file_perms;

  allow diag-router_t self:unix_stream_socket create_stream_socket_perms;
  allow diag-router_t unconfined_t:process signal;
  allow unconfined_t boot_kpi_values_t:file { getattr open read };
  allow diag-router_t boot_kpi_values_t:file { open write };
  allow diag-router_t overlay_t:dir search;
  allow diag-router_t usb_dev_t:dir { read open search };
  allow diag-router_t usbfs_t:dir { open read search };
  allow diag-router_t usbfs_t:file rw_file_perms;

# Need access to coresight device nodes
  allow diag-router_t sysfs_t:file { open read write getattr };
  allow diag-router_t sysfs_t:lnk_file { read getattr };
  allow diag-router_t sysfs_t:dir { search read open getattr };
')
