# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(dlsc, 1.0)

type dlsc_t;
type dlsc_exec_t;

init_vendor_domain(dlsc_t, dlsc_exec_t)

gen_require(`
    type devlog_t;
    type var_run_t;
')

# etc data files and var files
files_rw_qcmap_etc_data_files(dlsc_t)
qcmap_manage_var_run_data_files(dlsc_t)
allow dlsc_t var_run_t:lnk_file read_lnk_file_perms;

# Process Capabilities
allow dlsc_t self:capability { net_admin };
allow dlsc_t self:process { signal };

# socket permissions
allow dlsc_t self:{ socket netlink_socket netlink_route_socket udp_socket } create_socket_perms;
allow dlsc_t self:qipcrtr_socket create_socket_perms;
allow dlsc_t self:unix_stream_socket create_stream_socket_perms;

type dlsc_socket_device_t;
files_type(dlsc_socket_device_t);
dev_node(dlsc_socket_device_t);
device_manage_socket_file(dlsc_t, dlsc_socket_device_t);
device_rw_socket_files(dlsc_t, dlsc_socket_device_t);

# spearhead connection
sprhd_use_unix_stream_sockets(dlsc_t)
sprhd_rw_netlink_sockets(dlsc_t)

# devlog
allow dlsc_t devlog_t:sock_file write;

# shell execution
corecmd_exec_shell(dlsc_t)

# fifo permissons
allow dlsc_t self:fifo_file rw_fifo_file_perms;

# Read proc fs
kernel_read_system_state(dlsc_t)

# ifconfig commands
sysnet_exec_ifconfig(dlsc_t)
kernel_read_network_state(dlsc_t)