# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear.

policy_module(frpc_test , 1.0)

########################################
#
# Declarations
#
type frpc_test_t;
type frpc_root_exec_t;


userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
        type fs_t;
        type ion_device_t;
        type qdsp_device_t;
        type socket_device_t;
        type xdsp_device_t;
        type adsprpcd_t;
        type debugfs_t;
        type default_t;
    ')
    init_vendor_domain(frpc_test_t, frpc_root_exec_t)
    domtrans_pattern(unconfined_t, frpc_root_exec_t, frpc_test_t)
    allow frpc_root_exec_t fs_t:filesystem associate;
    allow frpc_test_t ion_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t qdsp_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t socket_device_t:dir search_dir_perms;
    allow frpc_test_t xdsp_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t frpc_root_exec_t:dir search_dir_perms;
    allow frpc_test_t adsprpcd_t:dir list_dir_perms;
    allow frpc_test_t debugfs_t:dir search_dir_perms;
    allow frpc_test_t default_t:dir search_dir_perms;
')
