# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear.

policy_module(frpc_test , 1.0)

########################################
#
# Declarations
#
type frpc_test_t;
type frpc_root_exec_t;
type dsp_tests_data_t;
type dsp_test_t;

userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
        type fs_t;
        type ion_device_t;
        type qdsp_device_t;
        type socket_device_t;
        type xdsp_device_t;
        type adsprpcd_t;
        type debugfs_t;
        type default_t;
        type firmware_t;
        type lib_t;
        type shell_exec_t;
        type proc_t;
        type adbd_t;
    ')
    init_vendor_domain(frpc_test_t, frpc_root_exec_t)
    init_vendor_domain(dsp_test_t, dsp_tests_data_t)
    domtrans_pattern(unconfined_t, frpc_root_exec_t, frpc_test_t)
    domtrans_pattern(unconfined_t, dsp_tests_data_t, dsp_test_t)
    allow frpc_root_exec_t fs_t:filesystem associate;
    allow frpc_test_t ion_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t qdsp_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t socket_device_t:dir search_dir_perms;
    allow frpc_test_t xdsp_device_t:chr_file read_chr_file_perms;
    allow frpc_test_t frpc_root_exec_t:dir search_dir_perms;
    allow frpc_test_t adsprpcd_t:dir list_dir_perms;
    allow frpc_test_t debugfs_t:dir search_dir_perms;
    allow frpc_test_t default_t:dir search_dir_perms;
    # Rules required for fastrpc_tests
    #allow frpc_test_t device_t:chr_file getattr;
    # above line is commented due tocompilaiton error
    # need to be fixed later
    allow frpc_test_t firmware_t:dir search;
    allow frpc_test_t firmware_t:file { open read };
    allow frpc_test_t lib_t:dir { add_name remove_name write };
    allow frpc_test_t lib_t:file { append create unlink write };
    allow frpc_test_t self:fifo_file { getattr read write };
    allow frpc_test_t shell_exec_t:file { execute execute_no_trans open read };
    allow frpc_test_t proc_t:file { read open getattr};
    allow frpc_test_t dsp_tests_data_t:dir { add_name write search };
    allow frpc_test_t dsp_tests_data_t:file { append create getattr open read };
    allow dsp_tests_data_t fs_t:filesystem associate;
    allow frpc_test_t adbd_t:fifo_file read;
')
