# Copyright (c) 2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(iotsys, 1.0)

########################################
#
# Declarations
#

type iotsys_t;
type iotsys_exec_t;
type iotsys_data_t;
type iotsys_tmp_t;

init_vendor_domain(iotsys_t, iotsys_exec_t)

#============= iotsys_t ==============

gen_require(`
        type proc_net_t;
        type proc_t;
        type sysctl_t;
        type unreserved_port_t;
        type init_var_run_t;
')

# self
allow iotsys_t self:netlink_route_socket { write getattr read bind create nlmsg_read };
allow iotsys_t self:unix_dgram_socket { create ioctl };
allow iotsys_t self:udp_socket { bind create setopt getattr connect read write };
allow iotsys_t self:capability net_raw;
allow iotsys_t self:process signal;

allow iotsys_t proc_net_t:file read;
allow iotsys_t proc_t:file read_file_perms; #/proc/filesystems
allow iotsys_t sysctl_t:dir search; #/proc/sys
allow iotsys_t unreserved_port_t:udp_socket name_bind;

dev_read_urand(iotsys_t)

system_manager_rw_data_files(iotsys_t)
manage_voice_ui_data_files(iotsys_t)

files_read_etc_files(iotsys_t)

corenet_udp_bind_generic_node(iotsys_t)

sysnet_read_config(iotsys_t)

#allow iotsys_t init_var_run_t:file { read getattr open };
allow iotsys_t init_var_run_t:dir search;

files_tmp_filetrans(iotsys_t, iotsys_tmp_t, file)
files_var_filetrans(iotsys_t, iotsys_tmp_t, { file dir })

allow iotsys_t system_dbusd_t:unix_stream_socket connectto;
dbus_connect_system_bus(iotsys_t)
dbus_send_system_bus(iotsys_t)

