# Copyright (c) 2018-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(ipacm, 1.0)

### ipa data directory

type ipacm_data_t;
user_data_files_type(ipacm_data_t)

### ipa fws

type ipa_fw_initrc_exec_t;
type ipa_fw_initrc_t;
type ipa_fw_device_t;

init_script_domain(ipa_fw_initrc_t, ipa_fw_initrc_exec_t)
dev_node(ipa_fw_device_t)

files_rw_qcmap_etc_data_files(ipa_fw_initrc_t);
term_read_console(ipa_fw_initrc_t);
files_read_etc_files(ipa_fw_initrc_t);
kernel_read_system_state(ipa_fw_initrc_t);
allow ipa_fw_initrc_t ipa_fw_device_t:chr_file { open write };
rw_chr_files_pattern(ipacm_t, ipa_fw_device_t, ipa_fw_device_t);
allow ipa_fw_initrc_t self:fifo_file { write read };
read_user_data_files(ipa_fw_initrc_t, ipacm_data_t);

### ipacm

type ipacm_t;
type ipacm_exec_t;
type ipa_nat_table_device_t;
type ipa_ipv6ct_table_device_t;

init_vendor_domain(ipacm_t, ipacm_exec_t)
logging_send_syslog_msg(ipacm_t)

gen_require(`
       type socket_device_t;
       type qcmap_var_run_t;
       type default_t;
       type qcmap_tmp_t;
       type sysctl_vm_t;
       type sysctl_vm_overcommit_t;
       type unconfined_t;
       class service {status start stop};
')

dontaudit ipacm_t self:capability { setuid setgid };
dontaudit ipacm_t tmpfs_t:dir { search };
allow ipacm_t self:capability { net_admin };
allow ipacm_t qcmap_var_run_t:dir { search };
allow ipacm_t self:{ udp_socket netlink_route_socket } create_socket_perms;
allow ipacm_t ipacm_diag_t:unix_dgram_socket sendto;
allow ipacm_t self:unix_dgram_socket write;
allow ipacm_t self:netlink_netfilter_socket create_socket_perms;
allow ipacm_t self:udp_socket { create ioctl };
allow ipacm_t self:fifo_file rw_fifo_file_perms;
allow ipacm_t ipacm_var_run_t:file { create rw_file_perms };
manage_files_pattern(ipacm_t, { tmp_t qcmap_tmp_t }, qcmap_tmp_t);
files_tmp_filetrans(ipacm_t, qcmap_tmp_t, { dir }, "data");
allow ipacm_t qcmap_tmp_t:dir { search };
allow ipacm_t sysctl_vm_t:dir { search };
allow ipacm_t sysctl_vm_overcommit_t:dir { read };
kernel_read_system_state(ipacm_t);

dev_node(ipa_nat_table_device_t)
ipa_nat_table_rw_dev(ipacm_t)
allow ipacm_t ipa_nat_table_device_t:chr_file { map };

dev_node(ipa_ipv6ct_table_device_t)
ipa_ipv6ct_table_rw_dev(ipacm_t)
allow ipacm_t ipa_ipv6ct_table_device_t:chr_file { map };

userdebug_or_eng(`
    rw_diag_dev(ipacm_t)
')
files_rw_qcmap_etc_data_files(ipacm_t)
data_filetrans(ipacm_t, ipacm_data_t, dir)
manage_user_data_files(ipacm_t, ipacm_data_t)

### ipacm_perf

type ipacm_perf_t;
type ipacm_perf_exec_t;

init_vendor_domain(ipacm_perf_t, ipacm_perf_exec_t)
logging_send_syslog_msg(ipacm_perf_t)

userdebug_or_eng(`
    rw_diag_dev(ipacm_perf_t)
')

dontaudit ipacm_perf_t default_t:dir { search };
dontaudit ipacm_perf_t syslogd_var_run_t:dir { search };
allow ipacm_perf_t self:netlink_route_socket r_netlink_socket_perms;
allow ipacm_perf_t self:{ socket udp_socket } create_socket_perms;
allow ipacm_perf_t self:fifo_file rw_fifo_file_perms;
allow ipacm_perf_t self:unix_dgram_socket { create_socket_perms sendto };
allow ipacm_perf_t self:qipcrtr_socket { create getattr setopt sendto read write };
dev_read_sysfs(ipacm_perf_t);
allow ipacm_perf_t data_t:dir { write remove_name };
data_filetrans(ipacm_perf_t, ipacm_data_t, dir)
manage_user_data_files(ipacm_perf_t, ipacm_data_t)

### ipacm_diag

type ipacm_diag_t;
type ipacm_diag_exec_t;

init_vendor_domain(ipacm_diag_t, ipacm_diag_exec_t)
logging_send_syslog_msg(ipacm_diag_t)

userdebug_or_eng(`
    rw_diag_dev(ipacm_diag_t)
')

dev_read_sysfs(ipacm_diag_t);
fs_manage_tmpfs_dirs(ipacm_diag_t);
allow ipacm_diag_t tmpfs_t:sock_file create;
allow ipacm_diag_t self:unix_dgram_socket create_socket_perms;
data_filetrans(ipacm_diag_t, ipacm_data_t, dir)
manage_user_data_files(ipacm_diag_t, ipacm_data_t)

### ipa_lnx_agent

type ipa_lnx_agent_t;
type ipa_lnx_agent_exec_t;

init_vendor_domain(ipa_lnx_agent_t, ipa_lnx_agent_exec_t)
logging_send_syslog_msg(ipa_lnx_agent_t)

userdebug_or_eng(`
    rw_diag_dev(ipa_lnx_agent_t)
    allow unconfined_t ipa_lnx_agent_exec_t:service { status start stop };
')

dontaudit ipa_lnx_agent_t self:capability { setuid setgid setpcap };
dontaudit ipa_lnx_agent_t self:process { getcap setcap };
dev_read_sysfs(ipa_lnx_agent_t);
fs_manage_tmpfs_dirs(ipa_lnx_agent_t);
files_rw_qcmap_etc_data_files(ipa_lnx_agent_t)
sprhd_use_unix_stream_sockets(ipa_lnx_agent_t)
sprhd_rw_netlink_sockets(ipa_lnx_agent_t)
allow ipa_lnx_agent_t self:qipcrtr_socket create;
allow ipa_lnx_agent_t self:netlink_socket create;
allow ipa_lnx_agent_t self:netlink_socket bind;
allow ipa_lnx_agent_t self:netlink_socket read;
allow ipa_lnx_agent_t self:capability {net_admin kill};
allow ipa_lnx_agent_t qcmap_var_run_t:dir search;
allow ipa_lnx_agent_t qcmap_var_run_t:sock_file write;
data_filetrans(ipa_lnx_agent_t, ipacm_data_t, dir)
manage_user_data_files(ipa_lnx_agent_t, ipacm_data_t)

### /var/run sockets

type ipacm_var_run_t;
type ipa_wwan_device_t;
type ipa_lnx_stats_device_t;

dev_node(ipa_wwan_device_t)
dev_node(ipa_lnx_stats_device_t)
files_pid_file(ipacm_var_run_t)
files_pid_filetrans({ ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t}, ipacm_var_run_t, { sock_file file dir })
manage_sock_files_pattern({ ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t}, ipacm_var_run_t, ipacm_var_run_t)
manage_dirs_pattern({ ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t}, ipacm_var_run_t, ipacm_var_run_t)

gen_require(`
    type device_t;
')

### Manage socket files inside /dev/socket
type ipacm_socket_device_t;
files_type(ipacm_socket_device_t);
dev_node(ipacm_socket_device_t);
device_manage_socket_file({ ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t}, ipacm_socket_device_t);
manage_dirs_pattern({ ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t}, ipacm_socket_device_t, ipacm_socket_device_t);
allow { ipacm_t ipacm_diag_t ipacm_perf_t ipa_lnx_agent_t} socket_device_t:dir { search };

userdebug_or_eng(`
    rw_diag_dev(ipacm_diag_t)
')

rw_chr_files_pattern(ipacm_perf_t, device_t, ipa_wwan_device_t);
rw_chr_files_pattern(ipacm_t, device_t, ipa_fw_device_t);
rw_chr_files_pattern(ipacm_t, device_t, ipa_wwan_device_t);
rw_chr_files_pattern(ipa_lnx_agent_t, device_t, ipa_lnx_stats_device_t);

type ipacm_tmp_t;
allow ipacm_t ipacm_tmp_t:dir manage_dir_perms;
allow ipacm_t ipacm_tmp_t:file manage_file_perms;
files_tmp_filetrans(ipacm_t, ipacm_tmp_t, { file dir })
allow ipacm_t self:netlink_route_socket nlmsg_read;
allow ipacm_t var_run_t:file { create rw_file_perms };
kernel_read_net_sysctls(ipacm_t)
corecmd_exec_shell(ipacm_t)
dev_read_sysfs(ipacm_diag_t)
dev_read_sysfs(ipa_lnx_agent_t)
dev_read_sysfs(ipacm_perf_t)
files_tmp_file(ipacm_tmp_t)
