# Copyright (c) 2019 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(mcm_ril_service, 1.0)

gen_require(`
    type default_t;
    type devlog_t;
    type diag_device_t;
    type syslogd_t;
    type sysfs_t;
    type device_t;
    type dataqti_ppp_device_t;
    type data_t;
    type qnetmgrd_t;
    type qnetmgrd_data_t;
    type netmgrd_socket_device_t;

')

type mcm_ril_service_t;
type mcm_ril_service_exec_t;
type mcm_ril_sock_t;
dev_node(mcm_ril_sock_t);

init_daemon_domain(mcm_ril_service_t, mcm_ril_service_exec_t)

#acccess to /data/service_config.txt
type mcm_ril_data_t;
user_data_files_type(mcm_ril_data_t)
data_filetrans(mcm_ril_service_t, mcm_ril_data_t, { file dir })
manage_user_data_files(mcm_ril_service_t, mcm_ril_data_t)

allow mcm_ril_service_t self:{ qipcrtr_socket } { create getattr write read setopt bind};
allow mcm_ril_service_t self:unix_stream_socket { connectto sendto create_stream_socket_perms };

allow mcm_ril_service_t default_t:dir search;
device_manage_socket_file(mcm_ril_service_t, mcm_ril_sock_t)
allow mcm_ril_service_t devlog_t:sock_file write;
userdebug_or_eng(`
rw_chr_files_pattern(mcm_ril_service_t, device_t, diag_device_t)
gen_require(`
type unconfined_t;
class service { start status stop };
')
allow unconfined_t mcm_ril_service_exec_t:service { status start stop};
allow unconfined_t mcm_ril_sock_t:sock_file getattr;
')
allow mcm_ril_service_t self:socket { create write read getattr setopt };
allow mcm_ril_service_t self:fifo_file rw_fifo_file_perms;
allow mcm_ril_service_t syslogd_t:unix_dgram_socket sendto;
allow mcm_ril_service_t sysfs_t:file { read open getattr };
kernel_read_system_state(mcm_ril_service_t)

# MCM_ATCOP service
corecmd_exec_shell(mcm_ril_service_t)
qcmap_read_qcmap_etc_data_files(mcm_ril_service_t)
rw_chr_files_pattern(mcm_ril_service_t, device_t, dataqti_ppp_device_t)
allow mcm_ril_service_t self:unix_stream_socket { connectto };

#MCM_DATA service
allow mcm_ril_service_t self:netlink_socket { create bind read setopt write getattr };
allow mcm_ril_service_t qnetmgrd_t:unix_stream_socket { connectto };
allow mcm_ril_service_t self:capability { net_admin net_raw };
dontaudit mcm_ril_service_t self:capability { setgid setuid };
allow mcm_ril_service_t qnetmgrd_data_t:sock_file { write };
allow mcm_ril_service_t netmgrd_socket_device_t:sock_file write;

