# Copyright (c) 2019,2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(pdmappersvc, 1.0)

type pdmappersvc_t;
type pdmappersvc_exec_t;

init_vendor_domain(pdmappersvc_t, pdmappersvc_exec_t)

gen_require(`
    type default_t;
    type firmware_t;
    type syslogd_var_run_t;
    type overlay_t;
    type qmi_fw_vendor_t;
    type dosfs_t;
')

dontaudit pdmappersvc_t default_t:dir search;
logging_send_syslog_msg(pdmappersvc_t)
allow pdmappersvc_t firmware_t:dir read;
firmware_read_files(pdmappersvc_t)
allow pdmappersvc_t self:socket connected_socket_perms;
allow pdmappersvc_t self:capability net_bind_service;
dev_read_urand(pdmappersvc_t)
logging_send_syslog_msg(pdmappersvc_t)
allow pdmappersvc_t self:qipcrtr_socket { write read create getattr };
allow pdmappersvc_t overlay_t:dir search_dir_perms;
allow pdmappersvc_t qmi_fw_vendor_t:file read_file_perms;
allow pdmappersvc_t dosfs_t:dir { getattr search read write watch open };
allow pdmappersvc_t dosfs_t:file { read open getattr write };

