# Copyright (c) 2018-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#Changes from Qualcomm Innovation Center are provided under the following license:
#
#Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
#Redistribution and use in source and binary forms, with or without
#modification, are permitted (subject to the limitations in the
#disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
#NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
#GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
#HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
#WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
#MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
#IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
#ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
#DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
#GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
#INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
#IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
#OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
#IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(qcmap_cm, 1.0)

type qcmap_cm_t;
type qcmap_cm_exec_t;
type qcmap_etc_data_t;
type datamtd_device_t;
type qcmap_kernel_module_t;
init_vendor_domain(qcmap_cm_t, qcmap_cm_exec_t)
system_data_files_type(qcmap_etc_data_t);
dev_node(datamtd_device_t);
init_script_file(qcmap_kernel_module_t)

#tinyproxy declaration
type tinyproxy_exec_t;
type tinyproxy_t;
type tinyproxy_tmp_t;
type tinyproxy_log_t;
type tinyproxy_etc_t;
type tinyproxy_var_run_t;
init_vendor_domain(tinyproxy_t, tinyproxy_exec_t )

gen_require(`
    type systemd_tmpfiles_t;
')
systemd_tmpfilesd_managed(tinyproxy_log_t)
allow systemd_tmpfiles_t tinyproxy_log_t:dir { getattr read open };

gen_require(`
    type sysdevice_sysfs_t;
')
allow qcmap_cm_t sysdevice_sysfs_t:file { getattr open read };
wlan_start_stop(qcmap_cm_t)
dontaudit qcmap_cm_t domain:lnk_file read;
dontaudit qcmap_cm_t domain:dir search_dir_perms;
dontaudit qcmap_cm_t domain:file read_file_perms;
dontaudit qcmap_cm_t self:capability sys_module;

gen_require(`
  type lib_t;
  type node_t;
  type var_t;
  type init_var_run_t;
  type wpa_cli_exec_t;
  type sysfs_t;
  type boot_kpi_values_t;
  type kmod_t;
  type NetworkManager_t;
  type ifconfig_t;
  type dhcpc_t;
  type initrc_exec_t;
  type unreserved_port_t;
  type minidlna_initrc_exec_t;
  type debugfs_t;
  type usb_t;
  type brctl_exec_t;
  type datadpo_device_t;
  type data_path_opt_exec_t;
  type firmware_t;
  type overlay_t;
  type multicast_querier_sysfs_t;
  type qmi_fw_vendor_t;
')

userdebug_or_eng(`
  rw_diag_dev(qcmap_cm_t);
  rw_diag_dev(avahi_t);
  kernel_search_debugfs(qcmap_cm_t);
')

rw_shared_memory_dev(qcmap_cm_t);
dev_rw_sysfs(qcmap_cm_t);
read_system_data_files(NetworkManager_t, qcmap_etc_data_t)
ps_process_pattern(qcmap_cm_t, NetworkManager_t)
dontaudit initrc_t qcmap_etc_data_t:file { append };

corecmd_exec_shell(qcmap_cm_t)
corecmd_exec_bin(qcmap_cm_t)

rw_chr_files_pattern(qcmap_cm_t, device_t, datadpo_device_t)
rw_chr_files_pattern(qcmap_cm_t, device_t, datamtd_device_t)

allow usb_t qcmap_etc_data_t:file { getattr read open };
allow ifconfig_t qcmap_cm_t:unix_stream_socket { read write };
allow kmod_t qcmap_cm_t:unix_stream_socket { read write };
allow qcmap_cm_t brctl_exec_t:file { exec_file_perms };
allow qcmap_cm_t self:unix_stream_socket { rw_stream_socket_perms connectto };

userdebug_or_eng(`
        allow qcmap_cm_t kmsg_device_t:chr_file { write };
        mls_file_write_all_levels(qcmap_cm_t);
')
allow qcmap_cm_t self:{ netlink_route_socket netlink_generic_socket netlink_socket } create_socket_perms;
allow qcmap_cm_t lib_t:file { execute_no_trans };
allow qcmap_cm_t self:tcp_socket connected_stream_socket_perms;
allow qcmap_cm_t self:socket connected_stream_socket_perms;
allow qcmap_cm_t self:{ socket qipcrtr_socket } { create_socket_perms };
allow qcmap_cm_t self:unix_dgram_socket { sendto create_socket_perms };
allow qcmap_cm_t var_t:file { create write open read getattr unlink append };
allow qcmap_cm_t self:udp_socket { create ioctl setopt bind write read };
allow qcmap_cm_t self:process { setcap sigkill signal setfscreate setcap getcap setrlimit setsched signull };
allow qcmap_cm_t wpa_cli_exec_t:file { read getattr open execute execute_no_trans };
allow qcmap_cm_t node_t:udp_socket node_bind;
allow qcmap_cm_t var_t:dir { add_name remove_name };
allow qcmap_cm_t self:rawip_socket { create setopt getopt write read ioctl };
allow qcmap_cm_t init_var_run_t:sock_file { write };
allow qcmap_cm_t self:packet_socket { create bind setopt read write ioctl };
allow qcmap_cm_t self:capability { setuid net_bind_service setgid kill sys_ptrace net_admin net_raw chown };
allow qcmap_cm_t node_t:tcp_socket { node_bind listen };
allow qcmap_cm_t self:fifo_file rw_fifo_file_perms;
allow qcmap_cm_t initrc_exec_t:file { read execute open execute_no_trans };
allow qcmap_cm_t NetworkManager_t:unix_dgram_socket { sendto };
allow qcmap_cm_t self:netlink_route_socket { nlmsg_write };
allow qcmap_cm_t data_t:file { read open getattr };
init_rw_utmp(qcmap_cm_t);
sysnet_signal_dhcpc(qcmap_cm_t);
sysnet_delete_dhcpc_runtime_files(qcmap_cm_t);
dontaudit dhcpc_t self:capability { fowner };

dev_write_kmsg(qcmap_cm_t)
files_read_generic_tmp_symlinks(qcmap_cm_t)
files_read_etc_files(qcmap_cm_t)
dev_read_urand(qcmap_cm_t)
sysnet_domtrans_ifconfig(qcmap_cm_t)
kernel_getattr_proc(qcmap_cm_t)
iptables_domtrans(qcmap_cm_t)
corenet_udp_bind_dhcpd_port(qcmap_cm_t)
kernel_read_network_state(qcmap_cm_t)
sysnet_domtrans_dhcpc(qcmap_cm_t)

kernel_read_device_sysctls(qcmap_cm_t)
kernel_read_system_state(qcmap_cm_t)
files_write_var_dirs(qcmap_cm_t)
kernel_rw_net_sysctls(qcmap_cm_t)
files_rw_qcmap_etc_data_files(qcmap_cm_t)

sysnet_dns_name_resolve(qcmap_cm_t)
kernel_read_rpc_sysctls(qcmap_cm_t)
kernel_getattr_proc(qcmap_cm_t)

gen_require(`
    type dhcpc_runtime_t;
')
allow qcmap_cm_t dhcpc_runtime_t:dir { read watch };

networkmanager_domtrans(qcmap_cm_t)
corenet_tcp_bind_dns_port(qcmap_cm_t)
corenet_udp_bind_dns_port(qcmap_cm_t)
dev_read_rand(qcmap_cm_t)
qcmap_cm_rw_sock_files(qcmap_cm_t)

read_write_qcmap_cm_socket_files(kmod_t)
read_write_qcmap_cm_socket_files(dhcpc_t)
dev_rw_wireless(qcmap_cm_t)
read_write_qcmap_cm_socket_files(ifconfig_t)
networkmanager_read_runtime_files(qcmap_cm_t);
qcmap_cm_rw_sock_files(qcmap_cm_t)
qcmap_cm_sendto_unix_dgram_socket(qcmap_cm_t)
sysnet_read_dhcpc_runtime_files(qcmap_cm_t)
sysnet_kill_dhcpc(qcmap_cm_t)
networkmanager_signal(qcmap_cm_t)
init_search_run(qcmap_cm_t)
qnetmgr_write_data_sock_files(qcmap_cm_t)
qnetmgr_use_unix_stream_sockets(qcmap_cm_t)

# Manage private files inside /var/run
type qcmap_var_run_t;
files_runtime_file(qcmap_var_run_t)
qcmap_manage_var_run_data_files(qcmap_cm_t)
files_runtime_filetrans(qcmap_cm_t, qcmap_var_run_t, { file sock_file dir })

# Manage private files inside /data
type qcmap_data_t;
user_data_files_type(qcmap_data_t)
qcmap_manage_user_data_files(qcmap_cm_t)
data_filetrans(qcmap_cm_t, qcmap_data_t, file)

# Manage private files inside /tmp
type qcmap_tmp_t;
files_tmp_file(qcmap_tmp_t)
systemd_tmpfilesd_managed(qcmap_tmp_t)
allow qcmap_cm_t qcmap_tmp_t:file { relabelfrom relabelto };
allow qcmap_cm_t qcmap_tmp_t:sock_file manage_sock_file_perms;
files_tmp_filetrans(qcmap_cm_t, qcmap_tmp_t, { file sock_file })
qcmap_manage_tmp_data_files(qcmap_cm_t)
ifdef(`init_systemd', `
    # /tmp is not always labeled correctly on systemd (TODO)
    files_var_filetrans(qcmap_cm_t, qcmap_tmp_t, { file sock_file })
')
allow NetworkManager_t qcmap_tmp_t:sock_file { write };

# Manage socket files inside /dev/socket
type qcmap_socket_device_t;
files_type(qcmap_socket_device_t)
dev_node(qcmap_socket_device_t)
device_manage_socket_file(qcmap_cm_t, qcmap_socket_device_t)
device_rw_socket_files(qcmap_cm_t, netmgrd_socket_device_t)

gen_require(`
    type httpd_t;
    class dbus send_msg;
    type netmgrd_socket_device_t;
    type systemd_logind_var_run_t;
')

#Manage Dbus sockets
ifdef(`init_systemd',`
    dbus_system_bus_client(qcmap_cm_t)
    init_dbus_chat(qcmap_cm_t)
    allow qcmap_cm_t self:dbus send_msg;
    rw_sock_files_pattern(qcmap_cm_t, systemd_logind_var_run_t, systemd_logind_var_run_t)
')

type httpd_data_t;
user_data_files_type(httpd_data_t)
qcmap_manage_httpd_data_files(httpd_t)

read_write_qcmap_cm_socket_files(ifconfig_t)
# /run/resolve.conf
sysnet_manage_config(qcmap_cm_t)

init_read_utmp(qcmap_cm_t)
logging_send_syslog_msg(qcmap_cm_t)
corenet_udp_bind_all_unreserved_ports(qcmap_cm_t)
kernel_request_load_module(qcmap_cm_t)
files_read_kernel_modules(qcmap_cm_t)
allow qcmap_cm_t self:netlink_route_socket nlmsg_write;
networkmanager_read_wifi_sysdata_files(qcmap_cm_t)

gen_require(`
    type wlan_service_t;
    type kmod_exec_t;
    type ipacm_data_t;
    type httpd_user_content_t;
    type configfs_t;
    type usr_t;
    type system_dbusd_var_run_t;
    type systemd_resolved_var_run_t;
    type dnsmasq_var_run_t;
    type default_t;
    type dnsmasq_tmp_t;
    type var_lib_t;
    type ipa_fw_device_t;
    type ipa_wwan_device_t;
    type dnsmasq_exec_t;
    type dnsmasq_t;
    class service { start status stop reload };
    type ddclient_exec_t;
    type dhcpc_exec_t;
    type mnt_t;
    type sdcard_t;
    type wpa_cli_exec_t;
    type NetworkManager_exec_t;
    type pppd_exec_t;
    type adbd_initrc_exec_t;
    type wlan_initrc_exec_t;
    type wlan_ezmesh_initrc_exec_t;
    type wpa_cli_t;
    type minidlna_exec_t;
    type webserver_socket_device_t;
    type nsfs_t;
    type ddclient_var_run_t;
    type loc_socket_t;
    type loc_hald_t;
    type wlan_service_exec_t;
    type dhcpd_t;
    type dhcpd_exec_t;
    type radvd_t;
    type radvd_exec_t;
')
allow qcmap_cm_t self:capability2 block_suspend;
allow qcmap_cm_t wlan_service_t:process sigkill;
modutils_domtrans(qcmap_cm_t)

#Manage Socket Files
corenet_tcp_bind_all_unreserved_ports(qcmap_cm_t)
corenet_tcp_connect_http_port(qcmap_cm_t);

#Mange VLAN/MPDN use cases
kernel_read_vm_overcommit_sysctl(qcmap_cm_t);
rw_chr_files_pattern(qcmap_cm_t, device_t, ipa_fw_device_t)
rw_chr_files_pattern(qcmap_cm_t, device_t, ipa_wwan_device_t)

#Rules needed  for multicast_querier
rw_files_pattern(qcmap_cm_t, sysfs_t, sysfs_t)
dontaudit qcmap_cm_t sysfs_t:dir { add_name };
dontaudit qcmap_cm_t sysfs_t:file { create };
append_files_pattern(qcmap_cm_t, sysfs_t, boot_kpi_values_t)

#Miscellaneous
allow iptables_t qcmap_tmp_t:file { read getattr };
allow iptables_t qcmap_cm_t:unix_stream_socket { read write };
allow qcmap_cm_t sysdevice_sysfs_t:file { read open };
rw_ipacm_data_config_files(qcmap_cm_t)
shutdown_domtrans(qcmap_cm_t)

dnsmasq_domtrans(qcmap_cm_t)


allow iptables_t nsfs_t:file read;

##### qti_ppp

corenet_rw_ppp_dev(qcmap_cm_t)
ppp_exec(qcmap_cm_t)
ppp_read_rw_config(qcmap_cm_t)
allow qcmap_cm_t pppd_etc_t:dir { search };
userdom_search_user_home_dirs(qcmap_cm_t)
#TODO: Need to take care of this root FR
#allow qcmap_cm_t pppd_initrc_exec_t:file { read_file_perms execute };
ppp_read_secrets(qcmap_cm_t)


#Managing private files in /run/lock
type pppd_run_lock_t;
files_lock_file(pppd_run_lock_t)
files_lock_filetrans(qcmap_cm_t, pppd_run_lock_t, { lnk_file dir file })
allow qcmap_cm_t pppd_run_lock_t:file { create rw_file_perms unlink };

##### WEB_CLIENT
# allow httpd_t var_run_t:sock_file { write };
# allow httpd_t httpd_t:capability { sys_chroot };
# allow httpd_t httpd_user_content_t:file { execute execute_no_trans };

##### IP_PASSTHROUGH
userdom_write_user_tmp_sockets(qcmap_cm_t)
create_files_pattern(qcmap_cm_t, configfs_t, configfs_t)

##### TINYPROXY
type qcmap_var_log_t;
logging_log_file(qcmap_var_log_t);
logging_log_filetrans(qcmap_cm_t, qcmap_var_log_t, { file dir } );
manage_files_pattern(qcmap_cm_t, qcmap_var_log_t, qcmap_var_log_t)
logging_list_logs(qcmap_cm_t)
manage_dirs_pattern(qcmap_cm_t, qcmap_var_log_t, qcmap_var_log_t);
corenet_tcp_connect_http_cache_port(qcmap_cm_t)
allow qcmap_cm_t usr_t:file { read open getattr };

##### MDNS
#TODO: Need to take care of this root FR
#allow qcmap_cm_t avahi_initrc_exec_t:file { execute read open execute_no_trans };
#allow qcmap_cm_t avahi_exec_t:file { getattr execute read open execute_no_trans };
avahi_domtrans(qcmap_cm_t)
avahi_initrc_domtrans(qcmap_cm_t)
allow qcmap_cm_t self:process { setrlimit };
allow qcmap_cm_t system_dbusd_var_run_t:sock_file { write };
read_write_qcmap_cm_socket_files(avahi_t)
read_files_pattern(avahi_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t)
dontaudit avahi_t etc_t:file {map};

##### DNSMASQ
manage_files_pattern(qcmap_cm_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t);
allow init_t qcmap_etc_data_t:dir { getattr search write };
# allow qcmap_cm_t { dnsmasq_t iptables_t ifconfig_t }:process { noatsecure };
allow { iptables_t dnsmasq_t } qcmap_cm_t:{ netlink_route_socket packet_socket } { read write };
data_rw_system_data_files(dnsmasq_t, qcmap_etc_data_t)
# allow qcmap_cm_t { dnsmasq_t iptables_t }:process { rlimitinh siginh };
# allow qcmap_cm_t { init_t kernel_t }:dir { search };
# allow qcmap_cm_t { init_t kernel_t }:file { read open };
# allow qcmap_cm_t init_t:lnk_file { read };
read_write_qcmap_cm_socket_files(iptables_t)
allow qcmap_cm_t dnsmasq_var_run_t:file manage_file_perms;
allow qcmap_cm_t dnsmasq_t:process { sigkill signal };
allow qcmap_cm_t dnsmasq_tmp_t:file { read_file_perms unlink };
ifdef(`init_systemd',`
    allow qcmap_cm_t dnsmasq_exec_t:service { start stop status reload };
    allow qcmap_cm_t dhcpc_exec_t:service { start stop status reload };
    allow qcmap_cm_t ddclient_exec_t:service { start stop status reload };
    allow qcmap_cm_t wpa_cli_exec_t:service { start stop status reload };
    allow qcmap_cm_t NetworkManager_exec_t:service { start stop status reload };
    allow qcmap_cm_t avahi_initrc_exec_t:service { start stop status reload };
    allow qcmap_cm_t pppd_exec_t:service { start stop status reload };
    allow qcmap_cm_t wlan_initrc_exec_t:service { start stop status reload };
    allow qcmap_cm_t wlan_ezmesh_initrc_exec_t:service { start stop status reload };
    allow qcmap_cm_t minidlna_exec_t:service { start stop status reload };
    allow qcmap_cm_t qcmap_kernel_module_t:service { start stop status reload };
    allow qcmap_cm_t dhcpd_exec_t:service { start status stop };
    allow qcmap_cm_t radvd_exec_t:service { start status stop };
')
read_lnk_files_pattern(qcmap_cm_t, dnsmasq_t, dnsmasq_t)

dontaudit qcmap_cm_t default_t:dir { search };
fs_manage_configfs_files(qcmap_cm_t)
search_dirs_pattern(qcmap_cm_t, var_lib_t, var_lib_t)

##### DDNS
read_files_pattern(qcmap_cm_t, ddclient_var_run_t, ddclient_var_run_t)

##### MINIUPNPD
corenet_tcp_connect_virt_migration_port(qcmap_cm_t)
allow qcmap_cm_t { unreserved_port_t }:tcp_socket { name_connect };

##### MINIDLNA
allow qcmap_cm_t minidlna_initrc_exec_t:file { execute read open execute_no_trans };
allow qcmap_cm_t sdcard_t:dir list_dir_perms;
read_files_pattern(qcmap_cm_t, { mnt_t sdcard_t }, sdcard_t )
kernel_search_fs_sysctls(qcmap_cm_t)
kernel_rw_fs_sysctls(qcmap_cm_t)
##### Reboot the device
allow qcmap_cm_t init_t:unix_stream_socket { connectto };

systemd_start_power_units(qcmap_cm_t)
systemd_status_power_units(qcmap_cm_t)

##### WLAN
allow wpa_cli_t qcmap_cm_t:unix_dgram_socket { sendto };
device_rw_socket_files(wpa_cli_t, qcmap_socket_device_t)
allow qcmap_cm_t wifi_system_data_t: file write_file_perms;
allow qcmap_cm_t system_data_t:lnk_file { read };
read_system_data_files(wlan_service_t, wifi_system_data_t)
allow qcmap_cm_t wlan_service_exec_t:service { start status };

##### WLAN CDI
allow hostapd_cli_qcmap_t self: capability { setpcap setgid setuid };
allow hostapd_cli_qcmap_t self: process { getcap setcap };

##### USB
can_exec(qcmap_cm_t, adbd_initrc_exec_t)
gen_require(`
  type usb_exec_t;
')
allow qcmap_cm_t usb_exec_t:file { execute read open execute_no_trans };

##### SSDK
type ssdk_device_t;
dev_node(ssdk_device_t)
rw_chr_files_pattern(qcmap_cm_t, device_t, ssdk_device_t)

#### Location Client
rw_dirs_pattern(qcmap_cm_t, socket_device_t, loc_socket_t);
rw_files_pattern(qcmap_cm_t, socket_device_t, loc_socket_t);
manage_sock_files_pattern(qcmap_cm_t, socket_device_t, loc_socket_t);
files_read_loc_etc_files(qcmap_cm_t);
allow qcmap_cm_t loc_hald_t:unix_dgram_socket{ sendto };

qcmap_manage_var_run_data_files(dhcpd_t);
qcmap_manage_var_run_data_files(radvd_t);

gen_require(`
  type syslogd_t;
  type var_run_t;
  type devlog_t;
  type etc_t;
  type proc_t;
  type proc_net_t;
  type hostapd_cli_exec_t;
  type hostapd_exec_t;
  type hostapd_var_run_t;
  type hostapd_cli_qcmap_t;
  type sysdevice_sysfs_t;
  type bin_t;
')

hostapd_manage_services(qcmap_cm_t)

allow qcmap_cm_t hostapd_exec_t:service { start stop status };
allow qcmap_cm_t hostapd_cli_exec_t:service { start stop status };
allow qcmap_cm_t hostapd_cli_exec_t:file exec_file_perms;
allow qcmap_cm_t hostapd_var_run_t:file read_file_perms;
allow qcmap_cm_t hostapd_var_run_t:dir search;
allow qcmap_cm_t hostapd_t:dir search;
allow qcmap_cm_t NetworkManager_var_run_t:file rw_file_perms;
allow qcmap_cm_t bin_t:service { start };

# TODO: Create hostapd_var_run_t sockets instead only if necessary
#manage_sock_files_pattern(hostapd_cli_qcmap_t, var_run_t, var_run_t)
hostapd_use_sockets(hostapd_cli_qcmap_t)

allow qcmap_cm_t qcmap_var_run_t:sock_file { create write };
allow qcmap_cm_t qcmap_var_run_t:socket { setopt };

manage_lnk_files_pattern(qcmap_cm_t, wlan_service_t, wlan_service_t)
manage_files_pattern(qcmap_cm_t, wlan_service_t, wlan_service_t)
hostapd_read_status(qcmap_cm_t)

# Read /proc/<pid> status for hostapd_cli
read_lnk_files_pattern(qcmap_cm_t, proc_t, hostapd_cli_qcmap_t)
read_files_pattern(qcmap_cm_t, proc_t, hostapd_cli_qcmap_t)

hostapd_use_sockets(qcmap_cm_t)
allow hostapd_cli_qcmap_t qcmap_cm_t:unix_dgram_socket { sendto };
allow qcmap_cm_t hostapd_cli_qcmap_t:unix_dgram_socket { sendto };

#data_path_opt policies
ifdef(`init_systemd',`
    allow qcmap_cm_t data_path_opt_exec_t:service { start stop status reload };
')
exec_files_pattern(qcmap_cm_t, bin_t, data_path_opt_exec_t);
dontaudit qcmap_cm_t data_path_opt_exec_t:file { map };

#allow exectution of mtd tools
mtd_tools_exec(qcmap_cm_t)
userdebug_or_eng(`
     rw_diag_dev(qcmap_cm_t)
')

#Avahi Policies
rw_sock_files_pattern(avahi_t, systemd_logind_var_run_t, systemd_logind_var_run_t)

#tinyproxy policies
ifdef(`init_systemd',`
    allow qcmap_cm_t tinyproxy_exec_t:service { start stop status reload };
    files_var_filetrans(tinyproxy_t, tinyproxy_tmp_t, { file })
')
read_system_data_files(tinyproxy_t, qcmap_etc_data_t)
allow tinyproxy_t devlog_t:sock_file write_sock_file_perms;
logging_log_file(tinyproxy_log_t)
logging_log_filetrans(tinyproxy_t, tinyproxy_log_t, { dir file lnk_file } )
manage_dirs_pattern(tinyproxy_t, var_log_t, tinyproxy_log_t)
manage_files_pattern(tinyproxy_t, var_log_t, tinyproxy_log_t)
allow tinyproxy_t etc_t:file read_file_perms;
files_tmp_file(tinyproxy_tmp_t)
files_tmp_filetrans(tinyproxy_t, tinyproxy_tmp_t, { file dir })
manage_files_pattern(tinyproxy_t, tmp_t, tinyproxy_tmp_t)
manage_files_pattern(tinyproxy_t, var_run_t, tinyproxy_var_run_t)
manage_files_pattern(tinyproxy_t, tinyproxy_etc_t, tinyproxy_etc_t)
files_runtime_file(tinyproxy_var_run_t)
files_runtime_filetrans(tinyproxy_t, tinyproxy_var_run_t, { file dir })
allow tinyproxy_t var_log_t:lnk_file read_lnk_file_perms;
search_dirs_pattern(tinyproxy_t, qcmap_etc_data_t, qcmap_etc_data_t)
search_dirs_pattern(tinyproxy_t, var_log_t, tinyproxy_log_t)
allow tinyproxy_t self:udp_socket { create ioctl setopt bind write read connect getattr };
allow tinyproxy_t self:tcp_socket { connected_stream_socket_perms connect };
allow tinyproxy_t unreserved_port_t:tcp_socket { name_bind };
allow tinyproxy_t node_t:tcp_socket { node_bind listen };
allow tinyproxy_t self:netlink_route_socket create_socket_perms;
allow tinyproxy_t self:netlink_route_socket { nlmsg_read };
allow tinyproxy_t self:capability { setuid net_bind_service setgid kill net_admin net_raw };
allow tinyproxy_t self:unix_dgram_socket { sendto create_socket_perms };
allow tinyproxy_t syslogd_t:unix_dgram_socket { sendto };
allow tinyproxy_t self:process { signal };
allow tinyproxy_t etc_t:lnk_file read_lnk_file_perms;
allow tinyproxy_t usr_t:file read_file_perms;
allow tinyproxy_t net_conf_t:file read_file_perms;
search_dirs_pattern(tinyproxy_t, init_var_run_t, init_var_run_t)
corenet_tcp_connect_http_cache_port(tinyproxy_t)
manage_files_pattern(tinyproxy_t, systemd_resolved_var_run_t, systemd_resolved_var_run_t)
allow tinyproxy_t tinyproxy_tmp_t:file {map};
allow tinyproxy_t etc_t:file {map};
allow tinyproxy_t self:unix_stream_socket { create connect };

#miniupnpd policies
type miniupnp_t;
type miniupnp_exec_t;
type miniupnp_var_run_t;

init_vendor_domain(miniupnp_t, miniupnp_exec_t)

files_runtime_file(miniupnp_var_run_t)

gen_require(`
  type ssdp_port_t;
  type brctl_t;
')

ifdef(`init_systemd', `
  allow qcmap_cm_t miniupnp_exec_t:service { start stop status reload };
')

files_rw_qcmap_etc_data_files(miniupnp_t)
kernel_dontaudit_read_system_state(miniupnp_t)
allow miniupnp_t proc_net_t: file { read };
logging_send_syslog_msg(miniupnp_t)
dev_read_sysfs(miniupnp_t)
allow miniupnp_t miniupnp_t: capability { net_admin };
corenet_tcp_bind_generic_node(miniupnp_t)
corenet_udp_bind_generic_node(miniupnp_t)
allow miniupnp_t self:udp_socket create_socket_perms;
allow miniupnp_t miniupnp_t: socket  create_socket_perms;
allow miniupnp_t self:fifo_file rw_fifo_file_perms;
files_runtime_filetrans(miniupnp_t, miniupnp_var_run_t, { dir file sock_file })
allow miniupnp_t miniupnp_var_run_t  : dir {create};
allow miniupnp_t self:tcp_socket create_stream_socket_perms;
allow miniupnp_t self:netlink_route_socket { create_socket_perms nlmsg_read };
allow miniupnp_t ssdp_port_t: udp_socket { name_bind };
corenet_udp_bind_all_unreserved_ports(miniupnp_t)
manage_files_pattern(miniupnp_t, miniupnp_var_run_t, miniupnp_var_run_t)
userdebug_or_eng(`
  rw_chr_files_pattern(miniupnp_t, device_t, diag_device_t)
')
dontaudit miniupnp_t default_t : dir search;
dontaudit miniupnp_t self:capability sys_module;
allow miniupnp_t self:qipcrtr_socket { create_socket_perms };
dontaudit miniupnp_t self:process { setcap getcap };
dontaudit miniupnp_t self:capability setpcap;
kernel_read_kernel_sysctls(miniupnp_t)
device_search_sockets(miniupnp_t)

allow qcmap_cm_t self:capability setpcap;
search_dirs_pattern(httpd_t, socket_device_t, webserver_socket_device_t)
corenet_tcp_connect_virt_migration_port(miniupnp_t)
allow miniupnp_t { unreserved_port_t }:tcp_socket { name_connect };
#This is to access symlink created for emac mtd partition
read_lnk_files_pattern(qcmap_cm_t, tmp_t, qcmap_tmp_t);

kernel_read_system_state(brctl_t)
kernel_read_kernel_sysctls(qcmap_cm_t)
dontaudit brctl_t self:capability sys_module;
dontaudit brctl_t initrc_t:unix_stream_socket { read write };
allow ifconfig_t firmware_t:dir { search };
allow NetworkManager_t system_data_t:lnk_file { read };
allow qcmap_cm_t firmware_t:dir { read search };
allow qcmap_cm_t firmware_t:file { read open };
dontaudit ifconfig_t sysdevice_sysfs_t:file { read };
dontaudit ifconfig_t ipa_fw_device_t:chr_file { read write};
dontaudit iptables_t ipa_fw_device_t:chr_file { read write};

allow ifconfig_t overlay_t:dir search_dir_perms;
allow qcmap_cm_t multicast_querier_sysfs_t:file write_file_perms;
allow qcmap_cm_t qmi_fw_vendor_t:file read_file_perms;
