# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

userdebug_or_eng(`
    policy_module(qesdk_one, 1.0)

    ########################################
    #
    # Declarations
    #

    type qesdk_one_t;
    type qesdk_one_exec_t;
    init_vendor_domain(qesdk_one_t, qesdk_one_exec_t)

    gen_require(`
     type leprop_sock_t;
     type leprop_t;
     type socket_device_t;
    ')

    leprop_rw_props(qesdk_one_t);
    logging_send_syslog_msg(qesdk_one_t);

    allow qesdk_one_t socket_device_t:dir { search write };
')
