# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qsap_dcfd, 1.0)
type qsap_dcfd_t;
type qsap_dcfd_exec_t;
init_vendor_domain(qsap_dcfd_t, qsap_dcfd_exec_t)

qesdk_bdk_access(qsap_dcfd_t)
logging_send_syslog_msg(qsap_dcfd_t)
leprop_rw_props(qsap_dcfd_t);

gen_require(`
    type unconfined_t;
    type qnetmgrd_t;
    type qnetmgrd_data_t;
    type pmsg_device_t;
    class service {start stop status};
')

userdebug_or_eng(`
    allow unconfined_t qsap_dcfd_exec_t:service { status start stop };
')

allow qsap_dcfd_t pmsg_device_t:chr_file {write open};

allow qsap_dcfd_t self:qipcrtr_socket {create getattr write read setopt bind};

allow qsap_dcfd_t self:fifo_file {read write};

allow qsap_dcfd_t qesdk_bdk_socket_t:sock_file {read write};

allow qsap_dcfd_t qnetmgrd_t:unix_stream_socket { connectto sendto listen accept };
allow qsap_dcfd_t qnetmgrd_data_t:sock_file { write };