# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Innovation Center, Inc. are provided under the following license:
# Copyright (c) 2023,2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(qwesd, 1.0)

type qwesd_t;
type qwesd_exec_t;
type qwes_data_t;
type qwes_config_etc_t;
type qwes_mink_socket_t;

# Domains that may write qwes_data_t files; assign via typeattribute to exempt
# from the neverallow below without modifying this file.
attribute qwes_data_writer;

files_type(qwes_mink_socket_t)
files_type(qwes_config_etc_t)

init_vendor_domain(qwesd_t, qwesd_exec_t)
logging_send_syslog_msg(qwesd_t)

gen_require(`
       type smcinvoke_device_t;
       type qseecom_device_t;
       type qcmap_etc_data_t;
       type etc_t;
       type systemd_resolved_var_run_t;
       type cert_t;
       type socket_device_t;
       type adbd_t;
       type unconfined_t;
       attribute domain;
       type vendor_dmabuf_qseecom_heap_device_t;
       type qmi_fw_vendor_t;
')

# allow qwesd to read /etc/qwesd.rc config file
files_read_etc_files(qwesd_t)
allow qwesd_t etc_t:dir list_dir_perms;
read_files_pattern(qwesd_t, etc_t, qwes_config_etc_t)
read_lnk_files_pattern(qwesd_t, etc_t, qwes_config_etc_t)
allow qwesd_t qmi_fw_vendor_t:file read_file_perms;
allow qwesd_t vendor_dmabuf_qseecom_heap_device_t:chr_file read_file_perms;

##################################################################
# Rules starting for loading TA using QSEECOM
##################################################################
#allow qwesd to acces /dev/qseecom
rw_chr_files_pattern(qwesd_t, device_t, qseecom_device_t);

# allow qwesd to read /firmware/image/haventkn.mbn TA file
firmware_read_files(qwesd_t);

# allow qwesd to read /dev/smcinvoke file
rw_chr_files_pattern(qwesd_t, device_t, smcinvoke_device_t);
#################################################################
# Rules ending for loading TA using QSEECOM
##################################################################

#################################################################
# Rules starting for generic permissions for qwesd.
##################################################################

files_getattr_all_files(qwesd_t)

# allow qwesd to read/write to /data/qwes/qwesd.conf file
search_user_data_dir(qwesd_t);
user_data_files_type(qwes_data_t)
data_filetrans(qwesd_t, qwes_data_t, { file dir })
manage_user_data_files(qwesd_t, qwes_data_t)

ifdef(`user_build',`
neverallow { domain -qwesd_t -adbd_t -qwes_license_store_setup_t -systemd_tmpfiles_t -qwes_data_writer } qwes_data_t:file { write };
')

ifndef(`user_build',`
neverallow { domain -qwesd_t -adbd_t -qwes_license_store_setup_t -systemd_tmpfiles_t -unconfined_t -qwes_data_writer } qwes_data_t:file { write };
')
# allow qwesd to read/write to /var/run/qwes_ipc minksocket file.
files_runtime_file(qwes_mink_socket_t)
files_runtime_filetrans({ qwesd_t }, qwes_mink_socket_t, { sock_file file dir })
manage_sock_files_pattern({ qwesd_t }, qwes_mink_socket_t, qwes_mink_socket_t)
manage_dirs_pattern({ qwesd_t }, qwes_mink_socket_t, qwes_mink_socket_t)
allow qwesd_t self:socket { create rw_socket_perms };

# allow qwesd for self capability.
allow qwesd_t self:capability { chown };
allow qwesd_t self:process signal;
allow qwesd_t self:fifo_file rw_fifo_file_perms;
allow qwesd_t self:qipcrtr_socket { read create write getattr setopt };
allow qwesd_t self:process signull;

userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
        class service { start status stop };
    ')
    allow unconfined_t qwesd_exec_t:service { start status stop };
')

allow qwesd_t self:capability2 block_suspend;
dev_rw_sysfs(qwesd_t)
#################################################################
# Rules ending for generic permissions for qwesd.
##################################################################

# setup qwes_ipc socket
type qwes_ipc_setup_t;
type qwes_ipc_setup_exec_t;

init_script_domain(qwes_ipc_setup_t, qwes_ipc_setup_exec_t);

gen_require(`
    type proc_t;
    type kmsg_device_t;
    type device_t;
    type init_t;
    type var_run_t;
    type shell_exec_t;
    type overlay_t;
')

#============= qwes_ipc_setup_t ==============
dev_write_kmsg(qwes_ipc_setup_t)
files_read_etc_files(qwes_ipc_setup_t)
mls_file_write_all_levels(qwes_ipc_setup_t)
allow qwes_ipc_setup_t qwes_mink_socket_t:dir { create_dir_perms setattr_dir_perms };
allow qwes_ipc_setup_t socket_device_t:dir { add_entry_dir_perms setattr_dir_perms create };
device_manage_socket_file({ qwesd_t qwes_ipc_setup_t }, qwes_mink_socket_t)
kernel_read_system_state(qwes_ipc_setup_t)
allow qwes_mink_socket_t device_t:filesystem associate;
allow qwes_ipc_setup_t etc_t:file map;
allow qwes_ipc_setup_t init_t:unix_stream_socket { read write ioctl };
allow qwes_ipc_setup_t self:unix_stream_socket { create connect };
allow qwes_ipc_setup_t shell_exec_t:file { read map execute };
allow qwes_ipc_setup_t var_run_t:dir search;
allow qwes_ipc_setup_t var_run_t:lnk_file read;
allow qwes_ipc_setup_t overlay_t:dir search;

#################################################################################
# Rules starting for configuring network connection for sync.
#################################################################################
allow qwesd_t self:unix_stream_socket { accept listen };
allow qwesd_t self:capability { fsetid };
#################################################################################
# Rules ending for configuring network connection for sync.
#################################################################################

#################################################################################
# Rules starting for setting up qwes_license_store.
#################################################################################
type qwes_license_store_setup_t;
type qwes_license_store_setup_exec_t;

init_script_domain(qwes_license_store_setup_t, qwes_license_store_setup_exec_t)

gen_require(`
  type persist_t;
  type qseecomd_data_t;
  type qseecomd_persist_t;
  type qwes_data_t;
  type shell_exec_t;
  type overlay_t;
')

logging_send_syslog_msg(qwes_license_store_setup_t)

# Allow read/write to /persist/data/ path.
allow qwes_license_store_setup_t qseecomd_persist_t:file { write create open getattr setattr unlink };
filetrans_pattern(qwes_license_store_setup_t, persist_t, qseecomd_persist_t, { file dir })
allow qwes_license_store_setup_t qseecomd_persist_t:dir manage_dir_perms;
allow qwes_license_store_setup_t init_t:unix_stream_socket { read write };
allow qwes_license_store_setup_t init_t:unix_stream_socket ioctl;

# Allow read access to /etc/passwd file for chown command.
files_read_etc_files(qwes_license_store_setup_t)

# Allow read/write to /data/vendor/tzstorage path.
data_filetrans(qwes_license_store_setup_t, qseecomd_data_t, { file dir })
manage_user_data_files(qwes_license_store_setup_t, qseecomd_data_t)

#Allow to manage path /data/qwes/.
manage_user_data_files(qwes_license_store_setup_t, qwes_data_t)
allow qwes_license_store_setup_t qwes_data_t:dir manage_dir_perms;

# Generic permissions for script.
allow qwes_license_store_setup_t self:fifo_file rw_fifo_file_perms;
kernel_read_system_state(qwes_license_store_setup_t)

#Allow write echo messages of script to /dev/kmsg.
dev_write_kmsg(qwes_license_store_setup_t)
mls_file_read_all_levels(qwes_license_store_setup_t)
mls_file_write_all_levels(qwes_license_store_setup_t)

# qwes_license_store_setup_t is only one time service.
allow qwes_license_store_setup_t etc_t:file map;
allow qwes_license_store_setup_t shell_exec_t:file map;
allow qwes_license_store_setup_t shell_exec_t:file { read execute };
allow qwes_license_store_setup_t self:capability { fowner chown };
allow qwes_license_store_setup_t overlay_t:chr_file create;
allow qwes_license_store_setup_t overlay_t:dir setattr;
allow qwes_license_store_setup_t overlay_t:chr_file { link rename };
#################################################################################
# Rules ending for setting up qwes_license_store.
#################################################################################

#============= qwesd_t ==============
allow qwesd_t self:process getsched;
allow qwesd_t self:capability2 wake_alarm;
