# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(sprhd, 1.0)

type sprhd_t;
type sprhd_exec_t;

init_vendor_domain(sprhd_t, sprhd_exec_t)

gen_require(`
    type default_t;
    type sysfs_t;
')

userdebug_or_eng(`
    rw_diag_dev(sprhd_t)

    # Systemd and fifo file
    gen_require(`
        type unconfined_t;
        class service { start status stop };
    ')
    allow unconfined_t sprhd_exec_t:service { status start stop};
    allow unconfined_t sprhd_data_t:fifo_file { open write getattr };
    dev_write_kmsg(sprhd_t)
')

logging_send_syslog_msg(sprhd_t)

#fifo file permissions
allow sprhd_t self:fifo_file { create open read getattr write };

# Allow execute permission
allow sprhd_t sprhd_exec_t:file { execute_no_trans };

# Socket permissions
allow sprhd_t self:socket create_socket_perms;
allow sprhd_t self:qipcrtr_socket create_socket_perms;
allow sprhd_t self:unix_stream_socket create_stream_socket_perms;
allow sprhd_t self:netlink_socket create_socket_perms;

type sprhd_socket_device_t;
files_type(sprhd_socket_device_t);
dev_node(sprhd_socket_device_t);
device_manage_socket_file(sprhd_t, sprhd_socket_device_t);
device_rw_socket_files(sprhd_t, sprhd_socket_device_t);

# Process Capabilities
allow sprhd_t self:capability { net_admin };
allow sprhd_t self:process { signal };

# Qcmap files
files_rw_qcmap_etc_data_files(sprhd_t)
qcmap_manage_var_run_data_files(sprhd_t)

dontaudit sprhd_t default_t:dir { search };

# Allow sprhd children connections
sprhd_use_unix_stream_sockets(sprhd_t)

# /sys/module/diagchar/parameters/timestamp_switch
dev_read_sysfs(sprhd_t)

# Allow logging to /data
type sprhd_data_t;
user_data_files_type(sprhd_data_t)
sprhd_manage_user_data_files(sprhd_t, sprhd_data_t)
data_filetrans(sprhd_t, sprhd_data_t, file)

# Allow fifo file read and write
sprhd_manage_fifo(sprhd_t)
