# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#    * Redistributions of source code must retain the above copyright
#      notice, this list of conditions and the following disclaimer.
#
#    * Redistributions in binary form must reproduce the above
#      copyright notice, this list of conditions and the following
#      disclaimer in the documentation and/or other materials provided
#      with the distribution.
#
#    * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#      contributors may be used to endorse or promote products derived
#      from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(stream_update_engine, 1.0)

type stream_update_engine_t;
type stream_update_engine_exec_t;
type stream_update_engine_data_t;
type stream_update_service_t;
type stream_update_service_exec_t;

gen_require(`
    type sysfs_t;
    type default_t;
    type tmp_t;
    type proc_t;
    type socket_device_t;
    type mtd_block_t;
    type data_t;
    type debugfs_t;
    type urandom_device_t;
    type mtd_device_t;
    type ubi_device_t;
    type sysctl_kernel_t;
    type sysctl_vm_overcommit_t;
    type sysctl_vm_t;
    type sysctl_t;
    type unconfined_t;
    type telaf_lib_t;
    type telaf_sys_t;
    type telaf_apptmp_rw_t;
    type telaf_sdir_t;
    type telaf_fw_t;
    type telaf_app_rw_t;
')

init_vendor_domain(stream_update_engine_t, stream_update_engine_exec_t)
init_script_domain(stream_update_service_t, stream_update_service_exec_t)
servicemanager_binder_use(stream_update_engine_t)

logging_send_syslog_msg(stream_update_engine_t)
allow stream_update_engine_t self:unix_dgram_socket { write create connect };
allow stream_update_engine_t sysfs_t:dir read;
dev_rw_sysfs(stream_update_engine_t)

user_data_files_type(stream_update_engine_data_t)
data_filetrans(stream_update_engine_t, stream_update_engine_data_t, { file dir })
manage_user_data_files(stream_update_engine_t, stream_update_engine_data_t)
device_search_sockets(stream_update_engine_t, socket_device_t)
allow stream_update_engine_t stream_update_engine_data_t:dir { create rw_dir_perms };
allow stream_update_engine_t self:capability sys_resource;
allow stream_update_engine_t sysfs_t:lnk_file read;
allow stream_update_engine_t tmp_t:dir search;



allow stream_update_engine_t proc_t:file { getattr open read };
allow stream_update_engine_t self:socket { create ioctl read write getattr setopt };


allow stream_update_engine_t self:process signal;

allow stream_update_engine_t data_t:file { read getattr open };
allow stream_update_engine_t mtd_block_t:blk_file { read write ioctl open getattr };
allow stream_update_engine_t debugfs_t:dir search;
dev_read_urand(stream_update_engine_t)

allow stream_update_engine_t mtd_device_t:chr_file { read write ioctl open };

allow stream_update_engine_t sysctl_t:dir search;
allow stream_update_engine_t sysctl_kernel_t:dir search;
allow stream_update_engine_t sysctl_vm_t:dir search;
allow stream_update_engine_t unconfined_t:binder call;
allow stream_update_engine_t sysctl_vm_overcommit_t:file { read open };
allow stream_update_engine_t sysctl_kernel_t:file { read open };
#============= telaf flash access ==============
allow stream_update_engine_t telaf_lib_t:dir search;
allow stream_update_engine_t telaf_lib_t:file { read getattr open execute };
allow stream_update_engine_t telaf_sys_t:dir { read write search };

allow stream_update_engine_t self:process setsched;
allow stream_update_engine_t telaf_apptmp_rw_t:sock_file write;
allow stream_update_engine_t telaf_sdir_t:unix_stream_socket connectto;
allow stream_update_engine_t telaf_fw_t:dir search;
allow stream_update_engine_t telaf_apptmp_rw_t:dir search;
allow stream_update_engine_t tmp_t:dir write;
allow stream_update_engine_t telaf_lib_t:lnk_file read;
allow stream_update_engine_t telaf_app_rw_t:dir search;
allow stream_update_engine_t telaf_lib_t:dir getattr;
allow stream_update_engine_t ubi_device_t:chr_file { getattr read write ioctl open };
allow stream_update_engine_t tmp_t:dir add_name;
allow stream_update_engine_t tmp_t:file { write create open getattr };
