# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# ​​​​​Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries. 
# SPDX-License-Identifier: BSD-3-Clause-Clear
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(tvmapploader, 1.0)

########################################
#
# Declarations
#

type tvmapploader_t;
type tvmapploader_exec_t;

init_vendor_domain(tvmapploader_t, tvmapploader_exec_t)

type tvmapp_tmp_t;
files_tmpfs_file(tvmapp_tmp_t)
fs_tmpfs_filetrans(tvmapploader_t, tvmapp_tmp_t, file)

type tvmapploader_data_t;
user_data_files_type(tvmapploader_data_t)
manage_user_data_files(tvmapploader_t, tvmapploader_data_t)

gen_require(`
    type socket_device_t;
    type sysfs_t;
    type tuicoreservice_dev_t;
    type vendor_dmabuf_system_heap_device_t;
    type vendor_vm_trusted_device_t;
    type vendor_vm_hlos_device_t;
    type vendor_vm_oem_device_t;
    type vendor_vm_self_device_t;
    type tvmapp_t;
    type mnt_t;
    type vendor_virtio_mem_device_t;
    type device_t;
attribute vendor_domain;
')

connect_to_tui_coresvc(tvmapploader_t)
connect_to_letzd(tvmapploader_t)
allow tvmapploader_t socket_device_t:dir search;
allow tvmapploader_t self:capability2 block_suspend;
allow tvmapploader_t self:unix_stream_socket create_stream_socket_perms;
allow tvmapploader_t self:vsock_socket { create connect getattr read write shutdown };
allow tvmapploader_t tuicoreservice_dev_t:chr_file read_chr_file_perms;
allow tvmapploader_t vendor_virtio_mem_device_t:chr_file read_chr_file_perms;
allow tvmapploader_t tvmapp_t:dir create_dir_perms;
allow tvmapploader_t tvmapp_t:dir rw_dir_perms;
allow tvmapploader_t mnt_t:dir rw_dir_perms;
allow tvmapploader_t tvmapp_tmp_t:file { read write map getattr open execute };

neverallow { vendor_domain - tvmapploader_t } tvmapp_tmp_t:file { read write map open execute };

#only valid for signed binaries
manage_files_pattern(tvmapploader_t, tvmapp_t, tvmapp_t);
exec_files_pattern(tvmapploader_t, tvmapp_t, tvmapp_t);
#permissions to turn on/off autosleep
dev_rw_sysfs(tvmapploader_t)

rw_chr_files_pattern(tvmapploader_t, device_t, vendor_dmabuf_system_heap_device_t);
rw_chr_files_pattern(tvmapploader_t, device_t, vendor_vm_trusted_device_t);
rw_chr_files_pattern(tvmapploader_t, device_t, vendor_vm_hlos_device_t);
rw_chr_files_pattern(tvmapploader_t, device_t, vendor_vm_oem_device_t);
rw_chr_files_pattern(tvmapploader_t, device_t, vendor_vm_self_device_t);
