# Copyright (c) 2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Changes from Qualcomm Innovation Center, Inc. are provided under the following license:
# Copyright (c) 2023,2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(weston, 1.0)

########################################
#
# Declarations
#

type weston_t;
type weston_exec_t;
type weston_socket_device_t;
type weston_usr_t;
type weston_runtime_t;

init_vendor_domain(weston_t, weston_exec_t)

#domain Transition from unconfined_t to weston_t when executing from adb shell
userdebug_or_eng(`
    gen_require(`
        type unconfined_t;
    ')
    domtrans_pattern(unconfined_t, weston_exec_t, weston_t)
')

gen_require(`
 type udev_var_run_t;
 type xkb_var_lib_t;
 type dri_device_t;
 type gpu_device_t;
 type ion_device_t;
 type sysfs_t;
 type fs_t;
 type qmmf_server_t;
 type tmp_t;
 type user_runtime_root_t;
 type firmware_t;
 type usr_t;
 type event_device_t;
 type initrc_var_run_t;
 type tmpfs_t;
 type fonts_t;
 type locale_t;
 type etc_t;
 type fonts_cache_t;
 type user_tmpfs_t;
 type adsprpcd_t;
 type boot_t;
 type default_t;
 type devpts_t;
 type home_root_t;
 type lost_found_t;
 type mnt_t;
 type persist_t;
 type ptmx_t;
 type shell_exec_t;
 type system_dir_t;
 type target_etc_t;
 type webserver_t;
 type leprop_system_data_t;
 type proc_t;
 type user_home_dir_t;
 type brightness_t;
 type device_t;
 type sysfs_cpu_capacity;
 type sysfs_cpu_present;
 type gpumodel_t;
 type vendor_dmabuf_system_heap_device_t;
 attribute domain_can_read_systemdata;
')

allow weston_t sysfs_cpu_capacity:file { read_file_perms };
allow weston_t sysfs_cpu_present:file { read_file_perms };

#For weston-terminal
allow weston_t shell_exec_t:file map; #/bin/sh
allow weston_t home_root_t:dir search;
allow weston_t user_home_dir_t:dir { search getattr };
allow weston_t weston_exec_t:file execute_no_trans;
type weston_pty_t;
term_create_pty(weston_t, weston_pty_t)
allow weston_t weston_pty_t:chr_file rw_term_perms;

#For windows+k combo key to close weston-terminal
allow weston_t self:process sigkill;

typeattribute weston_t domain_can_read_systemdata;
dontaudit weston_t self:capability { setuid sys_admin } ;
allow weston_t self:capability { net_admin sys_nice sys_tty_config } ;
allow weston_t sysfs_t:dir read; #/sys/devices/platform/soc/
allow weston_t sysfs_t:file { read getattr open }; #/sys/devices/platform/soc/
allow weston_t sysfs_t:lnk_file { read getattr }; #/sys/class/drm/card0-DSI-1
allow weston_t xkb_var_lib_t:dir { read getattr search }; #/usr/share/X11/xkb

rw_chr_files_pattern(weston_t, device_t, dri_device_t)
rw_chr_files_pattern(weston_t, device_t, gpu_device_t)
rw_chr_files_pattern(weston_t, device_t, ion_device_t)
allow weston_t udev_var_run_t:dir search_dir_perms;
allow weston_t udev_var_run_t:file read_file_perms;

leprop_rw_props(weston_t)
rw_video_dev(weston_t)

allow weston_t self:netlink_kobject_uevent_socket create_socket_perms;

#manage socket in /dev/socket/weston
files_type(weston_socket_device_t);
dev_node(weston_socket_device_t);
device_search_sockets(weston_t)
allow weston_t weston_socket_device_t:dir manage_dir_perms;
allow weston_t weston_socket_device_t:file manage_file_perms;
allow weston_t weston_socket_device_t:sock_file manage_sock_file_perms;

allow weston_t self:process setsched;

# Weston needs to access buffer fd passed from qmmf-server.
allow weston_t qmmf_server_t:fd use;

#Manage Files under /usr/share/weston
files_type(weston_usr_t);
allow weston_t weston_usr_t:dir search_dir_perms;
allow weston_t weston_usr_t:file read_file_perms;

userdebug_or_eng(`
     gen_require(`
        type trace_marker_t;
        type tracefs_t;
        type debugfs_t;
    ')

    allow weston_t debugfs_t:dir search;
    allow weston_t trace_marker_t:file { write open };
    allow weston_t tracefs_t:dir search;
    allow weston_t tty_device_t:chr_file manage_chr_file_perms; #/dev/tty
')

manage_qmmf_data_files(weston_t)
allow weston_t self:capability kill;
allow weston_t tmp_t:dir { search write add_name getattr };
allow weston_t tmp_t:file { create append open getattr };
allow weston_t user_runtime_root_t:dir { search_dir_perms write_file_perms add_name remove_name };
allow weston_t user_runtime_root_t:file { create append open getattr read_file_perms write_file_perms unlink map };
allow weston_t user_runtime_root_t:sock_file { create unlink write };
allow weston_t user_tmpfs_t:file mmap_rw_inherited_file_perms;
allow weston_t etc_t:file { map read_file_perms };
allow weston_t firmware_t:dir search_dir_perms;
allow weston_t gpu_device_t:chr_file map;
allow weston_t event_device_t:chr_file { read_file_perms write_file_perms };
allow weston_t usr_t:dir read_file_perms;
allow weston_t usr_t:file read_file_perms;
allow weston_t xkb_var_lib_t:file { read_file_perms map };
allow weston_t tmpfs_t:dir { search write add_name };
allow weston_t tmpfs_t:filesystem getattr;
allow weston_t tmpfs_t:file { create append open getattr read_file_perms write_file_perms unlink map };
allow weston_t initrc_var_run_t:dir { search getattr write add_name };
allow weston_t initrc_var_run_t:file { create lock open read write map };
allow weston_t initrc_var_run_t:sock_file { create write };
allow weston_t self:process signal;
allow weston_t self:unix_stream_socket create_stream_socket_perms;
allow weston_t fonts_cache_t:dir { search_dir_perms setattr write add_name remove_name };
allow weston_t fonts_cache_t:file { getattr map open read write create link rename unlink };
allow weston_t fonts_t:dir { search_dir_perms read };
allow weston_t fonts_t:file { getattr map open read };
allow weston_t locale_t:dir search_dir_perms;
allow weston_t locale_t:file { read_file_perms map };
allow weston_t etc_t:lnk_file read_file_perms;
allow weston_t fs_t:filesystem getattr;
allow weston_t adsprpcd_t:dir getattr;
allow weston_t boot_t:dir getattr;
allow weston_t default_t:dir search_dir_perms;
allow weston_t default_t:lnk_file getattr;
allow weston_t devpts_t:chr_file open;
allow weston_t devpts_t:filesystem getattr;
allow weston_t home_root_t:dir getattr;
allow weston_t leprop_system_data_t:file getattr;
allow weston_t lost_found_t:dir getattr;
allow weston_t persist_t:dir { getattr search };
allow weston_t ptmx_t:chr_file { ioctl open read write };
allow weston_t self:fifo_file { read write };
allow weston_t self:process setpgid;
allow weston_t self:unix_stream_socket connectto;
allow weston_t shell_exec_t:file { execute execute_no_trans open read };
allow weston_t system_dir_t:dir getattr;
allow weston_t target_etc_t:file getattr;
allow weston_t webserver_t:dir getattr;

# Allow weston search /run for wayland socket
gen_require(`
 type var_run_t;
')

allow weston_t var_run_t:dir search_dir_perms;

allow weston_t weston_runtime_t:file { create append open getattr read_file_perms write_file_perms unlink map };
manage_sock_files_pattern(weston_t, weston_runtime_t, weston_runtime_t)
filetrans_pattern(weston_t, user_runtime_root_t, weston_runtime_t, { dir file sock_file })
filetrans_pattern(weston_t, initrc_var_run_t, weston_runtime_t, { dir file sock_file })
allow weston_t proc_t:file { read open getattr }; #/proc/cpuinfo
fs_associate_tmpfs(weston_runtime_t)

mls_file_read_all_levels(weston_t);
allow weston_t brightness_t:file rw_file_perms;
allow weston_t device_t:dir search;
allow weston_t mnt_t:dir search_dir_perms;
allow weston_t self:lockdown confidentiality;
allow weston_t sysfs_cpu_capacity:file read_file_perms;
allow weston_t sysfs_cpu_present:file read_file_perms;
allow weston_t gpumodel_t:file read_file_perms;
allow weston_t vendor_dmabuf_system_heap_device_t:chr_file read_chr_file_perms;

gen_require(`
 type perf_hal_socket_t;
 type perf_hal_t;
 type tuicoreservice_vendor_t;
 type pmsg_device_t;
 type cgroup_t;
 type init_t;
 type socket_device_t;
 type system_dmabuf_device_t;
 type systemd_logind_runtime_t;
 type node_t;
 type overlay_t;
 type sysctl_net_t;
 type tuicoreservice_data_t;
 type unreserved_port_t;
 type drm_card_sysfs_t;
')

allow weston_t perf_hal_socket_t:sock_file write;
allow weston_t perf_hal_t:unix_stream_socket connectto;
allow weston_t tuicoreservice_vendor_t:file read_file_perms;
allow weston_t pmsg_device_t:chr_file write_chr_file_perms;
allow initrc_t weston_runtime_t:file { setattr getattr };
allow initrc_t weston_runtime_t:sock_file { setattr getattr write };
allow weston_t self:tcp_socket { create_stream_socket_perms };
allow weston_t node_t:tcp_socket node_bind;
allow weston_runtime_t fs_t:filesystem associate;
allow weston_t cgroup_t:filesystem getattr;
allow weston_t init_t:dir search;
allow weston_t init_t:file manage_file_perms;
allow weston_t system_dmabuf_device_t:chr_file read_chr_file_perms;
allow weston_t systemd_logind_runtime_t:dir search;
allow weston_t overlay_t:dir setattr;
allow weston_t sysctl_net_t:dir search;
allow weston_t sysctl_net_t:file read_file_perms;
allow weston_t tuicoreservice_data_t:file read_file_perms;
allow weston_t unreserved_port_t:tcp_socket name_bind;
allow weston_t drm_card_sysfs_t:dir manage_dir_perms;
allow weston_t drm_card_sysfs_t:file manage_file_perms;
allow weston_t self:process getsched;
allow weston_t self:fd use;
allow weston_t sysfs_t:filesystem getattr;
allow weston_t drm_card_sysfs_t:filesystem getattr;
allow weston_t socket_device_t:dir rw_dir_perms;
allow weston_t socket_device_t:file manage_file_perms;
allow weston_t socket_device_t:sock_file manage_sock_file_perms;
