# Copyright (c) 2018, 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#  Changes from Qualcomm Innovation Center are provided under the following license:
#
#  Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted (subject to the limitations in the
# disclaimer below) provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#
#     * Neither the name of Qualcomm Innovation Center, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# NO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE
# GRANTED BY THIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT
# HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
# GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(wlan, 1.0)

########################################
#
# Declarations
#

type wlan_service_t;
type wlan_service_exec_t;
type wlan_service_tmp_t;

init_vendor_domain(wlan_service_t, wlan_service_exec_t)
inittab_domtrans(wlan_service_t, wlan_service_exec_t)

gen_require(`
type socket_device_t;
type default_t;
type wlan_initrc_t;
type modules_object_t;
type initrc_t;
type system_data_t;
type fs_t;
type wlan_hsp_sysfs_t;
type kernel_t;
type devlog_t;
type syslogd_t;
type sysctl_net_t;
type wifi_data_t;
type syslogd_runtime_t;
type init_runtime_t;
')

userdebug_or_eng(`
    rw_diag_dev(wlan_service_t)
')

files_tmp_file(wlan_service_tmp_t)

allow wlan_service_t self:capability net_admin;
allow wlan_service_t self:fifo_file rw_fifo_file_perms;
allow wlan_service_t self:netlink_socket create_socket_perms;
allow wlan_service_t self:{socket qipcrtr_socket} create_socket_perms;
allow initrc_t system_data_t:lnk_file { read };
allow initrc_t system_data_t:dir { search };
allow initrc_t wifi_data_t:dir { list_dir_perms };
search_dirs_pattern(wlan_service_t, socket_device_t, socket_device_t)
search_dirs_pattern(wlan_service_t, default_t, default_t)
userdom_manage_user_tmp_files(wlan_service_t)

manage_files_pattern(wlan_service_t, wlan_service_tmp_t, wlan_service_tmp_t)
files_tmp_filetrans(wlan_service_t, wlan_service_tmp_t, { file lnk_file dir })
dev_read_sysfs(wlan_service_t)
kernel_rw_net_sysctls(wlan_service_t)

networkmanager_read_wifi_sysdata_files(kernel_t)
allow kernel_t wifi_system_data_t:dir search_dir_perms;
allow wlan_initrc_t modules_object_t:file {getattr read};

allow wlan_initrc_t socket_device_t:dir search_dir_perms;
allow wlan_initrc_t fs_t:filesystem getattr;
allow wlan_initrc_t default_t:dir search_dir_perms;
allow wlan_initrc_t wlan_hsp_sysfs_t:dir { getattr search_dir_perms rw_dir_perms };
allow wlan_initrc_t wlan_hsp_sysfs_t:file { create rw_file_perms };

allow wlan_initrc_t self:qipcrtr_socket create_socket_perms;
allow wlan_initrc_t devlog_t:sock_file write_sock_file_perms;
allow wlan_initrc_t syslogd_t:unix_dgram_socket sendto;
allow wlan_initrc_t wifi_data_t:sock_file { unlink create };
allow wlan_initrc_t sysctl_net_t:file getattr;
allow wlan_initrc_t syslogd_runtime_t:dir search;
allow wlan_initrc_t init_runtime_t:dir search;

allow wlan_initrc_t default_t:file read_file_perms;
allow wlan_initrc_t self:netlink_socket create_socket_perms;

gen_require(`
    type mnt_t;
    type leprop_sock_t;
    type leprop_t;
    type qmi_fw_vendor_t;
')

allow wlan_initrc_t mnt_t:dir search_dir_perms;
allow wlan_initrc_t leprop_sock_t:sock_file write_sock_file_perms;
allow wlan_initrc_t leprop_t:unix_stream_socket connectto;
allow wlan_initrc_t qmi_fw_vendor_t:file read_file_perms;
