# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type qvrd_t;
    type qvr_data_t;
    type xrdcf_t;
    type initrc_t;
    type tmp_t;
')

type conn_mgr_initrc_t;
type conn_mgr_initrc_exec_t;
init_script_domain(conn_mgr_initrc_t, conn_mgr_initrc_exec_t)
allow NetworkManager_t qvrd_t:unix_dgram_socket sendto;
allow NetworkManager_t qvr_data_t:sock_file write_sock_file_perms;
allow NetworkManager_t xrdcf_t:unix_dgram_socket sendto;
allow NetworkManager_t initrc_t:unix_dgram_socket sendto;
allow NetworkManager_t tmp_t:sock_file write;
allow NetworkManager_t conn_mgr_initrc_t:unix_dgram_socket sendto;
