# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type procfs_meminfo_t;
    type procfs_zoneinfo_t;
    type procfs_pressure_mem_t;
')

type psi_daemon_t;
type psi_daemon_exec_t;

init_vendor_domain(psi_daemon_t, psi_daemon_exec_t)

# allow read/write for kernel procfs files
allow psi_daemon_t procfs_meminfo_t:file { read write open };
allow psi_daemon_t procfs_zoneinfo_t:file { read write open };
allow psi_daemon_t procfs_pressure_mem_t:file { read write open };
