# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

######################################
## <summary>
##      tvmmink interface
## </summary>
#

interface(`platform_hub_domain_type',`
    gen_require(`
        attribute platform_hub_domain;
    ')
    typeattribute $1 platform_hub_domain;
')
