# Copyright (c) 2016-2020 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

type wifi_data_t;
user_data_files_type(wifi_data_t)
manage_user_data_files(NetworkManager_t, wifi_data_t)

type wifi_system_data_t;
system_data_files_type(wifi_system_data_t)
manage_system_data_files(NetworkManager_t, wifi_system_data_t)

# this rules are for wpa_supplicant which run in NetworkManger context
rw_shared_memory_dev(NetworkManager_t)
userdebug_or_eng(`
    rw_diag_dev(NetworkManager_t)
')
dev_rw_null(NetworkManager_t)

manage_user_data_files(wpa_cli_t, wifi_data_t)
manage_user_data_files(dhcpc_t, wifi_data_t)

# this needs to have for qcmap_cm context
read_write_qcmap_cm_socket_files(NetworkManager_t)
qcmap_cm_rw_sock_files(NetworkManager_t)
qcmap_cm_sendto_unix_dgram_socket(NetworkManager_t);

### WLAN initscript ###

type wlan_initrc_exec_t;
type wlan_initrc_t;
init_script_domain(wlan_initrc_t, wlan_initrc_exec_t)

userdebug_or_eng(`
    mls_file_write_all_levels(wlan_initrc_t)
')

corecmd_exec_shell(wlan_initrc_t)
corecmd_exec_bin(wlan_initrc_t)
dev_write_kmsg(wlan_initrc_t)
kernel_read_system_state(wlan_initrc_t)  # uname
sysnet_domtrans_ifconfig(wlan_initrc_t)
modutils_domtrans_insmod(wlan_initrc_t)
# The above rule doesn't seem to grant read permissions
modutils_exec_insmod(wlan_initrc_t)

allow wlan_initrc_t self:fifo_file rw_file_perms;
qcmap_cm_rw_unix_dgram_socket(NetworkManager_t)
userdebug_or_eng(`
    rw_diag_dev(dhcpc_t)
')
qcmap_cm_rw_unix_netlink_socket(dhcpc_t)
qcmap_cm_rw_unix_netlink_socket(NetworkManager_t)
qcmap_manage_var_run_qcmap_dir(NetworkManager_t)
qcmap_delete_qcmap_pid(NetworkManager_t)

allow wlan_initrc_t self:fifo_file rw_file_perms;
allow wlan_initrc_t NetworkManager_exec_t:file { execute read_file_perms execute_no_trans map };
files_search_default(NetworkManager_t);
files_rw_qcmap_etc_data_files(NetworkManager_t)
read_write_qcmap_cm_socket_files(wlan_initrc_t)

qcmap_manage_qcmap_pid(NetworkManager_t)
userdebug_or_eng(`
    networkmanager_wifi_data_filetrans(NetworkManager_t, file, "wpa_supplicant.log")
    networkmanager_wifi_data_filetrans(NetworkManager_t, file, "hostapd.log")
    networkmanager_wifi_data_filetrans(NetworkManager_t, file, "hostapd1.log")
    networkmanager_wifi_data_filetrans(NetworkManager_t, file, "hostapd2.log")
')
# dhcpc_t access systemd_resolved_var_run_t, init_var_run_t
gen_require(`
    type systemd_resolved_var_run_t;
    type init_var_run_t;
    type var_run_t;
')
logging_send_syslog_msg(dhcpc_t)
allow dhcpc_t systemd_resolved_var_run_t:file { open write };
allow dhcpc_t init_var_run_t:file { getattr setattr open write };
allow dhcpc_t self:unix_stream_socket listen;
allow dhcpc_t var_run_t:sock_file { create setattr unlink };
allow dhcpc_t self:capability kill;
#TODO properly con_mode node
dev_rw_sysfs(wlan_initrc_t)
gen_require(`
    type firmware_t;
')
allow wlan_initrc_t firmware_t:dir { search getattr open };
allow wlan_initrc_t firmware_t:file read_file_perms;
files_search_home(wlan_initrc_t)
kernel_search_debugfs(wlan_initrc_t)
getty_use_fds(wlan_initrc_t)
term_use_unallocated_ttys(wlan_initrc_t)

gen_require(`
    type qcmap_var_run_t;
')
allow wpa_cli_t qcmap_var_run_t:file { write getattr };

# unused pipes
gen_require(`
    type httpd_t;
    type random_device_t;
    type cert_t;
    type proc_net_t;
    type sysctl_net_t;
    type wireless_device_t;
    type sysctl_t;
    type urandom_device_t;
')
dontaudit NetworkManager_t httpd_t:fd use;
dontaudit wpa_cli_t httpd_t:fd use;
apache_dontaudit_rw_fifo_file(wpa_cli_t)
manage_sock_files_pattern(wpa_cli_t, NetworkManager_var_run_t, NetworkManager_var_run_t)
files_pid_filetrans(wpa_cli_t, NetworkManager_var_run_t, { dir file sock_file })

allow wlan_initrc_t NetworkManager_var_run_t:dir { add_name create remove_name search write };
allow wlan_initrc_t NetworkManager_var_run_t:file { create getattr open read unlink write };
manage_sock_files_pattern(wlan_initrc_t, NetworkManager_var_run_t, NetworkManager_var_run_t)
files_pid_filetrans(wlan_initrc_t, NetworkManager_var_run_t, { dir file sock_file })

userdom_write_user_tmp_sockets(wlan_initrc_t)

allow wlan_initrc_t init_t:unix_stream_socket { read write getattr };
allow wlan_initrc_t kmod_t:file read;
allow wlan_initrc_t random_device_t:chr_file read_chr_file_perms;
allow wlan_initrc_t wifi_data_t:dir search;
allow wlan_initrc_t cert_t:dir search;
allow wlan_initrc_t cert_t:file { getattr open read };
allow wlan_initrc_t proc_net_t:file read;
allow wlan_initrc_t sysctl_net_t:dir search;
allow wlan_initrc_t sysctl_net_t:file { open read write };
allow wlan_initrc_t self:capability { net_admin net_raw};
allow wlan_initrc_t self:netlink_generic_socket { bind create getattr read setopt write };
allow wlan_initrc_t self:netlink_route_socket { bind create read nlmsg_write write };
allow wlan_initrc_t self:packet_socket { bind create ioctl setopt read write };
allow wlan_initrc_t self:udp_socket { create ioctl };
allow wlan_initrc_t urandom_device_t:chr_file { getattr ioctl open read };
allow wlan_initrc_t sysctl_t:dir search;
allow wlan_initrc_t wireless_device_t:chr_file { open read };
manage_user_data_files(wlan_initrc_t, wifi_data_t)
