# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type etc_t;
    type overlay_t;
    type modules_object_t;
    type ts_hugepage_sysfs_t;
    type sys_power_sysfs_t;
')

allow post_boot_script_t etc_t:file read_file_perms;
allow post_boot_script_t ts_hugepage_sysfs_t:dir add_entry_dir_perms;
allow post_boot_script_t ts_hugepage_sysfs_t:file { create write_file_perms };
allow post_boot_script_t sys_power_sysfs_t:dir add_entry_dir_perms;
allow post_boot_script_t sys_power_sysfs_t:file create;

allow touch_script_t modules_object_t:dir search;
allow touch_script_t modules_object_t:file getattr;
allow touch_script_t overlay_t:dir search;
