# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type rfsa_adsp_lib_t;

gen_require(`
    type fs_t;
')

# watch permissions to adsprpcd
allow adsprpcd_t self:dir watch;

allow adsprpcd_t rfsa_adsp_lib_t:dir { watch list_dir_perms };

allow rfsa_adsp_lib_t fs_t:filesystem associate;
