# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type qwesd_t;
    type qwes_mink_socket_t;
    type locale_t;
    type initrc_t;
    type loc_hald_t;
')

allow loc_hald_t locale_t:dir search;
allow loc_hald_t initrc_t:unix_stream_socket connectto;

### location hal daemon
#Qwes operations
stream_connect_pattern(loc_hald_t,qwes_mink_socket_t,qwes_mink_socket_t,qwesd_t);

### xtwifi_agent
#Qwes operations
stream_connect_pattern(xtwifi_agent_t,qwes_mink_socket_t,qwes_mink_socket_t,qwesd_t);

### xtwifi_client
#Qwes operations
stream_connect_pattern(xtwifi_client_t,qwes_mink_socket_t,qwes_mink_socket_t,qwesd_t);
