# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gen_require(`
    type rfsa_adsp_lib_t;
')

# read and watch permissions to cdsprpcd
allow cdsprpcd_t adsprpcd_t:dir { read watch };

allow cdsprpcd_t rfsa_adsp_lib_t:dir { watch list_dir_perms };
allow cdsprpcd_t rfsa_adsp_lib_t:file read_file_perms;
