# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

type power_sysfs_t;
genfscon sysfs /power gen_context(system_u:object_r:power_sysfs_t,s0)
dev_associate_sysfs(power_sysfs_t)

type image_variant_sysfs_t;
genfscon sysfs /devices/soc0/select_image  gen_context(system_u:object_r:image_variant_sysfs_t,s0)
genfscon sysfs /devices/soc0/image_version  gen_context(system_u:object_r:image_variant_sysfs_t,s0)
genfscon sysfs /devices/soc0/image_variant  gen_context(system_u:object_r:image_variant_sysfs_t,s0)
genfscon sysfs /devices/soc0/image_crm_version  gen_context(system_u:object_r:image_variant_sysfs_t,s0)
dev_associate_sysfs(image_variant_sysfs_t)

type brightness_sysfs_t;
genfscon sysfs /devices/platform/soc/5e00000.qcom,mdss_mdp/backlight/panel0-backlight/brightness gen_context(system_u:object_r:brightness_sysfs_t,s0)
dev_associate_sysfs(brightness_sysfs_t)

type zs_handle_sysfs_t;
genfscon sysfs /kernel/slab/zs_handle gen_context(system_u:object_r:zs_handle_sysfs_t,s0)
dev_associate_sysfs(zs_handle_sysfs_t)

type zspage_sysfs_t;
genfscon sysfs /kernel/slab/zspage gen_context(system_u:object_r:zspage_sysfs_t,s0)
dev_associate_sysfs(zspage_sysfs_t)

type mem_sleep_sysfs_t;
genfscon sysfs /power/mem_sleep gen_context(system_u:object_r:mem_sleep_sysfs_t,s0)
dev_associate_sysfs(mem_sleep_sysfs_t)
