# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

######################################
## <summary>
##       dsp_load module files
## </summary>
#
