# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(sensor, 1.0)

type etc_sensors_t;
files_type(etc_sensors_t);

gen_require(`
    type mount_t;
')

allow mount_t etc_sensors_t:dir manage_dir_perms;
allow mount_t etc_sensors_t:file manage_file_perms;
