# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

######################################
## <summary>
##      btftm_boot_pmic_write registry files
## </summary>
