# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(ipp_service, 1.0)
type ipp_service_t;
type ipp_service_exec_t;
type ipp_service_tmpfs_t;
init_vendor_domain(ipp_service_t, ipp_service_exec_t)
platform_container_domain_type(ipp_service_t, ipp_service_exec_t)

gen_require(`
    bool allow_minijail_mount;
')
files_tmpfs_file(ipp_service_tmpfs_t)
if (allow_minijail_mount) {
    fs_tmpfs_filetrans(ipp_service_t, ipp_service_tmpfs_t, file)
}

gen_require(`
    type socket_device_t;
')
allow ipp_service_t self:process signal;
allow ipp_service_t socket_device_t:dir search;
allow ipp_service_t ipp_service_tmpfs_t:file { manage_file_perms mounton getattr};
