# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

genfscon sysfs /devices/platform/soc/17010040.qcom,wcn7750  gen_context(system_u:object_r:wlan_hsp_sysfs_t,s0)

